@import '../../common/styles/_vars';
@import '../../common/styles/_mixins';

.App {
  &-scrollWindow {
    height: calc(100vh - #{getComponentProperty(nav, mobileHeight_px)});
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: #{getComponentProperty(nav, mobileHeight_px)};

    @include viewport(w, XGAplus) {
      height: 100vh;
      margin-bottom: 0;
    }
  }

  &-scrollingElements {
    position: relative;
  }
}
