@import '../../common/styles/_vars';
@import '../../common/styles/_mixins';

.Footer {
  $creditsSize: 20vw;
  $creditsMaxSize: 150px;
  $footer_SquareSize_px: getComponentProperty(footer, squareSize_px);
  a {
    text-decoration: none;
  }
  &-backdrop {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: #{$footer_SquareSize_px};
    height: #{$creditsSize};
    max-height: #{$creditsMaxSize};
    background: url('#{$REACT_APP_UPLOADS_DIR}/footer-art-bg.svg') no-repeat
      bottom right;
  }
  &-elements {
    display: grid;
    grid-template-columns: 1fr auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: #{$footer_SquareSize_px};
    height: #{$creditsSize};
    max-height: #{$creditsMaxSize};
    &-credits {
      box-sizing: border-box;
      display: grid;
      font-family: #{font(text, font-family)};
      font-weight: #{#{font(text, font-weight)}};
      background: #{getColor(bg-black)};
      justify-items: end;
      align-items: end;
      bottom: 0;
      right: 0;
      padding: #{$GAP / 2};
      font-size: 1rem;
      width: #{$creditsSize};
      min-width: #{$footer_SquareSize_px};
      max-width: #{$creditsMaxSize};
      height: 100%;
      border-top-left-radius: #{$GAP};
      &-yearAndName {
        color: #{getColor(text-light)};
        text-align: right;
      }
    }
    &-art {
      display: block;
      width: 100%;
      &-fg {
        max-height: 200px;
        min-height: 50px;
        height: calc(100vw / 4);
        position: absolute;
        width: 80vw;
        max-width: calc(100vw - #{$footer_SquareSize_px});
        min-width: calc(100vw - #{$creditsMaxSize});
        bottom: 20px;
      }
    }
  }
}
