
@mixin wpPosts($type, $gridFlow: row, $cardColor: map-get($colorMap, bg-gray)) {
    .wp-block-latest-posts {
        $homePostsNarrowY: map-get($narrow, homePostsNarrowY);
        $liDistance: 2* $accentThickness;

        grid-area: posts;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 0;
        display: grid;
        // position: absolute;
        margin: 0 #{-$liDistance};
        grid-auto-flow: column;

        @include narrowScreen() {
            @if $gridFlow == row {
                // margin: 0;
                grid-auto-flow: row;
                overflow-x: hidden;
                overflow-y: scroll;
                
                height: 60vh;
                align-self: center;
                margin: 0;
            } @else if $gridFlow == column {
                margin: 0 #{-$accentThickness} 0 #{-$accentThickness};
                // margin-left: #{$accentThickness};
                // grid-auto-flow: row;
                // this is not being implemented as it's not being used right now
            }
        }

        @include wideScreen() {
            @if $gridFlow == row {
            } @else if $gridFlow == column {
                margin: 0 0 0 #{-$accentThickness};
            }
        }
        
        &::-webkit-scrollbar {
            display: none;
        }
        
        & > li {
            box-sizing: border-box;
            background-color: $cardColor;
            margin-left: #{$liDistance};
            margin-top: #{$accentThickness/2};
            display: grid;
            grid-row-gap: #{$accentThickness / 2};
            position: relative;
            width: 50vw;
            min-width: 260px;
            max-width: 350px;

            height: min-content;
            border: #{$accentThickness/2} solid transparent;
            border-image-source: url(#{$uploadsPath}/white-border.svg);
            border-image-slice: 100; 
            border-image-width: #{$accentThickness/2};
            border-image-outset: #{$accentThickness/2};

            @if $type == posts {
                grid-template-areas: 
                    "image"
                    "title";
                    // "time" 
                    // "excerpt";
                grid-template-rows: max-content max-content;
            } @else if $type == success {
                grid-template-areas: 
                    "image"
                    "title"  
                    "excerpt";
                grid-template-rows: max-content max-content 1fr;
            }

            @include narrowScreen() {
                @if $gridFlow == row {
                    @if $type == posts {
                        grid-template-areas: 
                            "image title" 
                            "image time" 
                            "excerpt excerpt";
                        grid-template-rows: min-content min-content auto;
                        grid-template-columns: #{$homePostsNarrowY} auto;
                        grid-column-gap: #{$accentThickness};

                        width: 100%;
                        max-width: none;
                        height: calc(#{$homePostsNarrowY} + #{2* $accentThickness});
                        // height: auto;
                        margin-left: 0;
                        margin-bottom: #{$accentThickness};
                    } @else if $type == success {
                    }
                        
                
                } @else if $gridFlow == column {
                    @if $type == posts {

                    } @else if $type == success {

                    }
                }
            }

            
            &:last-child::after {
                content: "";
                position: absolute;
                right: #{-1.25* $liDistance};
                width: 1px;
                height: 1px;
                // background-color: red;
            }
            
            .wp-block-latest-posts__featured-image {
                grid-area: image;
                height: 150px;
                overflow: hidden;
                display: flex;
                align-items: center;

                & > img {
                    width: 100%;
                    height: auto;

                    @include narrowScreen() {
                        @if $gridFlow == horizontal {
                            height: 15vw;
                            width: auto;

                        }
                    }
                }
            }

            time {
                @include p();

                @if $type == posts { 
                    display: none;
                }
                
                grid-area: time;
                font-size: 0.8em;
                color: #{map-get($colorMap, text-mediumLight)};
            }

            .wp-block-latest-posts__post-full-content,
            .wp-block-latest-posts__post-excerpt {
                @include p();
                @include limitParagraphLines(6);

                @if $type == posts { 
                    display: none;
                }
                // font-size: $excerptFontSize;
                grid-area: excerpt;
                color: #{map-get($colorMap, text-mediumDark)};
                position: relative;
                margin: 0;

                &::after {
                    content: " ...";
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    height: 25px;
                    width: 36px;
                    background-color: var(--brush-lightGray);
                }
            }
            
            a {
                @include h4;
                grid-area: title;
                text-decoration: none;
            }
        }

    }                      
}