@import '../../common/styles/_vars';
@import '../../common/styles/_mixins';

.Nav-item {
  display: block;
  font-family: $textFont;
  font-weight: #{$textFontWeight};
  text-decoration: none;
  white-space: nowrap;
}
