@import '../../abstracts/_mixins';

.Posts {
  grid-area: Posts;
  &-wrapper {
    grid-area: Posts-wrapper;
    & > h4 {
      text-align: center;
      @include breakpoint('w', 'SVGA__') {
        text-align: left;
      }
    }
  }
  li {
    list-style: none;
    margin-bottom: #{2 * $GAP_PX};
    padding: #{$GAP_PX};
    border-radius: #{$GAP_PX};
    position: relative;
    &:hover {
      background-color: #{getColor('bg-gray')};
      & .Posts {
        &-card {
          &-excerpt {
            @include breakpoint('w', 'SVGA__') {
              &::after {
                background: linear-gradient(
                  180deg,
                  transparent 0,
                  #{getColor('bg-gray')} #{$GAP_PX}
                );
              }
            }
          }
        }
      }
    }
  }
  ol {
    margin: 0;
    padding: 0;
  }
  @include breakpoint('w', 'SVGA__') {
    margin-left: #{-$GAP_PX};
  }
}
