@import '../../../styles/abstracts/_mixins';

/* 
  COMPONENT PROPERTIES
*/
$footer--fg-height-max-px: get-component-property('footer', 'fg-height-max-px');
$footer--fg-height-min-px: get-component-property('footer', 'fg-height-min-px');
$footer--fg-bottom-px: get-component-property('footer', 'fg-bottom-px');
$footer--square-size-px: get-component-property('footer', 'square-size-px');
$env--react-app-uploads-dir: get-environment-variable('REACT_APP_UPLOADS_DIR');

.Footer {
  $credits-size-vw: 20vw;
  $credits-max-size-px: 150px;

  a {
    text-decoration: none;
  }

  &-backdrop {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('#{$env--react-app-uploads-dir}/footer-art-bg.svg')
      no-repeat bottom right;
    height: #{$credits-size-vw};
    min-height: #{$footer--square-size-px};
    max-height: #{$credits-max-size-px};
  }

  &-elements {
    display: grid;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    grid-template-columns: 1fr auto;
    height: #{$credits-size-vw};
    min-height: #{$footer--square-size-px};
    max-height: #{$credits-max-size-px};

    &-art {
      display: block;
      width: 100%;
      margin-left: #{get-gap(1)};

      &-fg {
        position: absolute;
        bottom: #{$footer--fg-bottom-px};
        width: 80vw;
        min-width: calc(100vw - #{$credits-max-size-px});
        max-width: calc(100vw - #{$footer--square-size-px} - #{get-gap(2)});
        min-height: #{$footer--fg-height-min-px};
        max-height: #{$footer--fg-height-max-px};
      }
    }
  }
}
