@import '../../../styles/abstracts/_mixins';

/* 
  COMPONENT PROPERTIES
*/
$footer__fg-height_max_px: get-component-property('footer', 'fg-height_max_px');
$footer__fg-height_min_px: get-component-property('footer', 'fg-height_min_px');
$footer__fg-bottom_px: get-component-property('footer', 'fg-bottom_px');

.Footer {
  $creditsSize: 20vw;
  $creditsMaxSize: 150px;
  $footer_square-size_px: get-component-property(footer, square-size_px);

  a {
    text-decoration: none;
  }

  &-backdrop {
    $react-app-uploads-dir: get-environment-variable('REACT_APP_UPLOADS_DIR');
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: #{$footer_square-size_px};
    height: #{$creditsSize};
    max-height: #{$creditsMaxSize};
    background: url('#{$react-app-uploads-dir}/footer-art-bg.svg') no-repeat
      bottom right;
  }

  &-elements {
    display: grid;
    grid-template-columns: 1fr auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: #{$footer_square-size_px};
    height: #{$creditsSize};
    max-height: #{$creditsMaxSize};

    &-art {
      display: block;
      width: 100%;
      margin-left: #{get-gap(1)};

      &-fg {
        max-height: #{$footer__fg-height_max_px};
        min-height: #{$footer__fg-height_min_px};
        position: absolute;
        width: 80vw;
        max-width: calc(100vw - #{$footer_square-size_px} - #{get-gap(2)});
        min-width: calc(100vw - #{$creditsMaxSize});
        bottom: #{$footer__fg-bottom_px};
      }
    }
  }
}
