/*
    RESET
/*

/* Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Remove default padding */

ul[class],
ol[class] {
    padding: 0;
}


/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}


/* Set core body defaults */

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}


/* Remove list styles on ul, ol elements with a class attribute */

ul[class],
ol[class] {
    list-style: none;
}


/* A elements that don't have a class get default styles */

a:not([class]) {
    text-decoration-skip-ink: auto;
}


/* Make images easier to work with */

img {
    max-width: 100%;
    display: block;
}


/* Natural flow and rhythm in articles by default */

article>*+* {
    margin-top: 1em;
}


/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
    font: inherit;
}


/* Remove all animations and transitions for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/*
    GLOBAL
*/


/* Scrollbar */

::-webkit-scrollbar-track {
    /* background: linear-gradient(180deg, var(--white) var(--accent-thickness), var(--blue) var(--accent-thickness)); */
    background: var(--blue);
}

 ::-webkit-scrollbar-thumb {
    background: var(white);
    /* border-right: 2px solid var(--black); */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--black);
    border-right: var(--black);
}

:root {
    /* measurements */
    --wp-frame-width: 1200px;
    --wp-frame-padding-x: 7em;
    --wp-text-with: 800px;
    --accent-thickness: 30px;
    /* colors */
    --white: #F4F4F9;
    --black: #071013;
    --blue: #456266;
    --yellow: #E9B44C;
    --green: #81AE9D;
    --beige: #F6D697;
    /* This calculation has been made by the code at this address: https://codepen.io/sosuke/pen/Pjoqqp */
    --blue-filter: invert(34%) sepia(30%) saturate(388%) hue-rotate(139deg) brightness(92%) contrast(86%);
    --logo-white-filter: brightness(0) invert(100%) sepia(1%) saturate(4410%) hue-rotate(181deg) brightness(94%) contrast(107%);
    --home-vertical-padding: 200px;
    --home-horizontal-padding: 400px;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--white);
    color: var(--black);
}

h1,
h2,
h3,
.wp-block-button__link,
figcaption {
    font-family: 'M PLUS 1p', sans-serif;
}

.body.home>div .wp-block-latest-posts>li,
span,
nav,
p {
    font-family: 'Tajawal', sans-serif;
}

nav,
p {
    font-size: 22px;
}


/* logo */

.logo:hover img {
    filter: none !important;
}

::-webkit-scrollbar {
    width: 5px;
}


/* colors for background */

.bg-white {
    background-color: var(--white);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-green {
    background-color: var(--green);
}

.bg-beige {
    background-color: var(--beige);
}

.text-white {
    color: var(--white);
}

.text-blue {
    color: var(--blue);
}

.body.home .wp-block-buttons {
    width: 100%;
}


/* 
borders 
*/


/* green */

.wp-block-cover.green-horizontal-border:before {
    background: linear-gradient(90deg, var(--green) calc(var(--accent-thickness)/2), transparent calc(var(--accent-thickness)/2), transparent calc(100% - var(--accent-thickness)/2), var(--green) calc(100% - var(--accent-thickness)/2));
}

.wp-block-cover.green-vertical-border:after {
    background: linear-gradient(0deg, var(--green) calc(var(--accent-thickness)/2), transparent calc(var(--accent-thickness)/2), transparent calc(100% - var(--accent-thickness)/2), var(--green) calc(100% - var(--accent-thickness)/2));
}


/* yellow */

.wp-block-cover.yellow-horizontal-border:before {
    background: linear-gradient(90deg, var(--yellow) calc(var(--accent-thickness)/2), transparent calc(var(--accent-thickness)/2), transparent calc(100% - var(--accent-thickness)/2), var(--yellow) calc(100% - var(--accent-thickness)/2));
}

.wp-block-cover.yellow-vertical-border:after {
    background: linear-gradient(0deg, var(--yellow) calc(var(--accent-thickness)/2), transparent calc(var(--accent-thickness)/2), transparent calc(100% - var(--accent-thickness)/2), var(--yellow) calc(100% - var(--accent-thickness)/2));
}


/* white */

.wp-block-cover.white-horizontal-border:before {
    background: linear-gradient(90deg, var(--white) calc(var(--accent-thickness)/2), transparent calc(var(--accent-thickness)/2), transparent calc(100% - var(--accent-thickness)/2), var(--white) calc(100% - var(--accent-thickness)/2));
}

.wp-block-cover.white-vertical-border:after {
    background: linear-gradient(0deg, var(--white) calc(var(--accent-thickness)/2), transparent calc(var(--accent-thickness)/2), transparent calc(100% - var(--accent-thickness)/2), var(--white) calc(100% - var(--accent-thickness)/2));
}


/* blue */

.wp-block-cover.blue-horizontal-border:before {
    background: linear-gradient(90deg, var(--blue) calc(var(--accent-thickness)/2), transparent calc(var(--accent-thickness)/2), transparent calc(100% - var(--accent-thickness)/2), var(--blue) calc(100% - var(--accent-thickness)/2));
}

.wp-block-cover.blue-vertical-border:after {
    background: linear-gradient(0deg, var(--blue) calc(var(--accent-thickness)/2), transparent calc(var(--accent-thickness)/2), transparent calc(100% - var(--accent-thickness)/2), var(--blue) calc(100% - var(--accent-thickness)/2));
}


/* black */

.wp-block-cover.black-horizontal-border:before {
    background: linear-gradient(90deg, var(--black) calc(var(--accent-thickness)/2), transparent calc(var(--accent-thickness)/2), transparent calc(100% - var(--accent-thickness)/2), var(--black) calc(100% - var(--accent-thickness)/2));
}

.wp-block-cover.black-vertical-border:after {
    background: linear-gradient(0deg, var(--black) calc(var(--accent-thickness)/2), transparent calc(var(--accent-thickness)/2), transparent calc(100% - var(--accent-thickness)/2), var(--black) calc(100% - var(--accent-thickness)/2));
}


/* beige */

.wp-block-cover.beige-horizontal-border:before {
    background: linear-gradient(90deg, var(--beige) calc(var(--accent-thickness)/2), transparent calc(var(--accent-thickness)/2), transparent calc(100% - var(--accent-thickness)/2), var(--beige) calc(100% - var(--accent-thickness)/2));
}

.wp-block-cover.beige-vertical-border:after {
    background: linear-gradient(0deg, var(--beige) calc(var(--accent-thickness)/2), transparent calc(var(--accent-thickness)/2), transparent calc(100% - var(--accent-thickness)/2), var(--beige) calc(100% - var(--accent-thickness)/2));
}


/* 
    HOME
    EVERY SECTION 
 */

.body.home>.wp-block-group,
.body.home>.wp-block-group>.wp-block-group__inner-container {
    height: 100vh;
    position: relative;
}

.body.home>div>.wp-block-group__inner-container>h1,
.body.home>div>.wp-block-group__inner-container>h2,
.body.home>div>.wp-block-group__inner-container>h3 {
    grid-area: heading;
    align-self: end;
}

.body.home>div>.wp-block-group__inner-container>h1 {
    font-size: 50px;
}

.body.home>div>.wp-block-group__inner-container>h2 {
    font-size: 40px;
}

.body.home>div>.wp-block-group__inner-container>h2 {
    font-size: 35px;
}

.body.home>div>.wp-block-group__inner-container>p {
    grid-area: paragraph;
    font-size: 30px;
}

.body.home .wp-block-button {
    background-color: var(--yellow);
    color: var(--black);
    padding: 1em;
}

.body.home .wp-block-button:hover {
    background-color: var(--blue);
    padding: 1em;
    cursor: pointer;
}


/* 
    HOME
    EVERY SECTION EXCEPT FIRST
*/

.body.home>div:not(:first-child)>.wp-block-group__inner-container {
    display: grid;
    padding: var(--home-vertical-padding) var(--home-horizontal-padding);
    grid-template-areas: "heading image" "paragraph image";
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 5em;
    grid-row-gap: 3em;
}

.body.home>div:not(:first-child)>.wp-block-group__inner-container>.wp-block-cover {
    grid-area: image;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.body.home>div:not(:first-child)>.wp-block-group__inner-container>.wp-block-cover:before {
    content: "";
    width: calc(100% + var(--accent-thickness));
    height: calc(100% - var(--accent-thickness));
    position: absolute;
    top: calc(var(--accent-thickness) /2);
    left: calc(var(--accent-thickness) / 2 * -1);
}

.body.home>div:not(:first-child)>.wp-block-group__inner-container>.wp-block-cover:after {
    content: "";
    width: calc(100% - var(--accent-thickness));
    height: calc(100% + var(--accent-thickness));
    position: absolute;
    top: calc(var(--accent-thickness) /2 * -1);
    left: calc(var(--accent-thickness) /2);
}


/* 
    HOME
    FIRST SECTION
    Introduction
 */

.body.home>div:first-child p {
    color: var(--blue);
}

.body.home>div:first-child>.wp-block-group__inner-container {
    display: grid;
    grid-column-gap: 8em;
    grid-row-gap: 4em;
    grid-template-areas: "cover logo" "cover heading" "cover paragraph" "cover cta";
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 150px 150px max-content auto;
    /* these two are for hiding the fixed logo from the first page */
    position: absolute;
    z-index: 2;
}

.body.home>div:first-child .wp-block-cover {
    grid-area: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.body.home>div:first-child figure {
    grid-area: logo;
    display: grid;
    grid-template-columns: 365px auto;
    grid-template-rows: auto min-content;
    grid-template-areas: "logo empty" "title empty";
}

.body.home>div:first-child figure>img {
    grid-area: logo;
    max-width: 100%;
    display: block;
    align-self: end;
}

.body.home>div:first-child figure>figcaption {
    grid-area: title;
    align-self: start;
    justify-self: center;
}

.body.home>div:first-child h1 {
    color: var(--blue);
}

.body.home>div:first-child .wp-block-buttons {
    grid-area: cta;
    font-size: 30px;
    color: var(--blue);
}


/* 
    HOME
    SECOND SECTION 
    Merhaba, ben basak
*/


/* .body.home>div:nth-child(2) h2,
.body.home>div:nth-child(2) p {
    color: var(--white);
} */

.body.home>div:nth-child(2) h2:before {
    content: "";
    background: url('/wp-content/uploads/parrot.svg') no-repeat;
    height: 161px;
    width: 172px;
    position: absolute;
    margin-top: -105px;
    margin-left: -71px;
}

.basak-decoration {
    margin-top: -266px;
    margin-left: -71px;
}


/*
    HOME
    THIRD SECTION
    Ilkelerim ve deneyimim
*/

.body.home>div:nth-child(3)>.wp-block-group__inner-container {
    grid-template-areas: "image heading" "image paragraph";
}

.body.home>div:nth-child(3)>.wp-block-group__inner-container:after {
    content: url('/wp-content/uploads/city.svg');
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}


/* 
    HOME
    FOURTH SECTION 
    Birlikte gelisim
*/

.body.home>div:nth-child(4)>.wp-block-group__inner-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "heading posts" "paragraph posts";
}

.body.home>div:nth-child(4)>.wp-block-group__inner-container:after {
    content: url('/wp-content/uploads/conversation.svg');
    position: absolute;
    bottom: -15px;
    left: var(--home-horizontal-padding);
}

.body.home>div:nth-child(4) .wp-block-latest-posts {
    grid-area: posts;
    overflow-x: hidden;
    overflow-y: scroll;
}

.body.home>div:nth-child(4) .wp-block-latest-posts>li {
    background-color: var(--white);
    margin: 1em;
    padding: 1em;
    display: grid;
    grid-template-areas: "image title" "image time" "image excerpt";
    grid-template-rows: "max-content min-content auto";
    grid-column-gap: 1em;
}

.body.home>div:nth-child(4) .wp-block-latest-posts>li .wp-block-latest-posts__featured-image {
    grid-area: image;
}

.body.home>div:nth-child(4) .wp-block-latest-posts>li time {
    grid-area: time;
    font-size: 0.8em;
    color: var(--green)
}

.body.home>div:nth-child(4) .wp-block-latest-posts>li a,
.body.home>div:nth-child(4) .wp-block-latest-posts>li .wp-block-latest-posts__post-excerpt {
    color: var(--blue);
}

.body.home>div:nth-child(4) .wp-block-latest-posts>li a {
    grid-area: title;
    text-decoration: none;
}

.body.home>div:nth-child(4) .wp-block-latest-posts>li .wp-block-latest-posts__post-excerpt {
    grid-area: excerpt;
}


/* 
    HOME
    FIFTH SECTION 
    Basari hikayeleri
*/

.body.home>div:nth-child(5)>.wp-block-group__inner-container {
    grid-template-rows: min-content auto;
    grid-template-columns: none;
    grid-template-areas: "heading" "posts";
}

.body.home>div:nth-child(5)>.wp-block-group__inner-container:after {
    content: url('/wp-content/uploads/success.svg');
    position: absolute;
    bottom: -21px;
    left: 50%;
    transform: translateX(-50%);
}

.body.home>div:nth-child(5)>.wp-block-group__inner-container>h2 {
    justify-self: center;
}

.body.home>div:nth-child(5) .wp-block-latest-posts {
    grid-area: posts;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
}

.body.home>div:nth-child(5) .wp-block-latest-posts>li {
    /* background-color: var(--white); */
    margin: 1em;
    padding: 1em;
    display: grid;
    grid-template-areas: "image" "title" "excerpt";
    grid-template-rows: "max-content max-content auto";
    grid-row-gap: 1em;
}

.body.home>div:nth-child(5) .wp-block-latest-posts>li .wp-block-latest-posts__featured-image {
    grid-area: image;
}

.body.home>div:nth-child(5) .wp-block-latest-posts>li a,
.body.home>div:nth-child(5) .wp-block-latest-posts>li .wp-block-latest-posts__post-excerpt {
    color: var(--blue);
}

.body.home>div:nth-child(5) .wp-block-latest-posts>li a {
    grid-area: title;
    text-decoration: none;
}

.body.home>div:nth-child(5) .wp-block-latest-posts>li p {
    grid-area: excerpt;
    font-size: 18px;
}


/* 
    HOME
    SIXTH SECTION 
    Konusalim mi?
*/

.body.home>div:nth-child(6)>.wp-block-group__inner-container {
    grid-template-rows: min-content auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "feature heading" "feature paragraph";
}

.body.home>div:nth-child(6)>.wp-block-group__inner-container:after {
    content: url('/wp-content/uploads/one-on-one.svg');
    position: absolute;
    bottom: -7px;
    right: 160px;
}


/* .body.home>div:nth-child(6)>.wp-block-group__inner-container>h2 {
    justify-self: center;
} */

.body.home>div:nth-child(6) .wpcf7 {
    grid-area: feature;
}

.body.home>div:nth-child(6) .wpcf7 p:not(:last-child) {
    margin-bottom: 1em;
}

.body.home>div:nth-child(6) .wpcf7 label {
    font-family: "tajawal", "sans serif";
    color: var(--white);
}

.body.home>div:nth-child(6) .wpcf7 .wpcf7-text,
.body.home>div:nth-child(6) .wpcf7 .wpcf7-textarea {
    border: none;
    background-color: var(--white);
    width: 100%;
    padding: 0.5em;
}

.body.home>div:nth-child(6) .wpcf7 .wpcf7-text:focus,
.body.home>div:nth-child(6) .wpcf7 .wpcf7-textarea:focus {
    outline: none;
    background-color: var(--beige);
}

.body.home>div:nth-child(6) .wpcf7 .wpcf7-textarea {
    resize: none;
    height: 4em;
}

.body.home>div:nth-child(6) .wpcf7 .wpcf7-submit {
    width: 100%;
    padding: 1em;
    border: none;
    background-color: var(--yellow);
}
