body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


/* 

DEV STYLES

*/

:root {
    --wp-frame-width: 1200px;
    --wp-frame-padding-x: 70px;
    --wp-text-with: 800px;
    --content-shadow: 0 5px 50px RGBA(0, 0, 0, 0.5);
}

body {
    background: gray;
}

.wp-block-cover {
    height: 40vh;
    width: 100vw;
    display: grid;
    align-items: center;
    justify-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;
}

.full-height {
    height: 100vh;
}

.full-height .wp-block-cover__inner-container {
    width: var(--wp-frame-width);
    padding: 0 var(--wp-frame-padding-x);
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
    /* padding: 3em; */
}

.wp-block-cover__inner-container {
    /* justify-content: center; */
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
    /* margin: auto; */
    /* padding: 3em; */
}

.wp-block-cover__inner-container {
    /* margin: auto */
}

.body>div:not(:first-child) {
    background-color: white;
    max-width: calc(var(--wp-frame-width) - 2 * var(--wp-frame-padding-x));
    margin: auto;
    padding: 20px var(--wp-frame-padding-x);
    /* border: 10px solid transparent; */
    /* border-image: url(../public/border-decoration.svg) 30 round */
    /* box-shadow: var(--content-shadow); */
}

.body>div:not(:first-child) h1,
.body>div:not(:first-child) h2,
.body>div:not(:first-child) h3 {
    text-align: center;
}

.body>div:nth-child(2) {
    margin-top: -50px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    padding-top: 30px;
}

.body>div:last-child {
    padding-bottom: 200px;
}