@import './common/styles/_vars';
@import './common/styles/_mixins';
@import './common/styles/_fonts';

:root {
  /* measurements */
  --wp-frame-width: 1200px;
  --wp-frame-padding-x: 7em;
  --wp-text-with: 800px;
  --accent-thickness: #{$GAP};
  --home-vertical-padding: 200px;
  --home-horizontal-padding: 400px;
  --fixed-feature-image-width: 470px;
  --head-section-height: 110px;
  --text-font: 'Work Sans', sans-serif;
  --text-font-weight: 400;
  --title-font: 'Montserrat', sans-serif;
  --title-font-weight: 600;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #{getColor(bg-white)};
  color: #{getColor(text-mediumDark)};
  overflow-y: hidden;
  overflow-x: hidden;
  font-size: #{map-get($FONT_SIZES, default__)}px;
}

// creates headings
@for $i from 1 through 6 {
  $name: 'h' + $i;
  #{$name} {
    @include _heading($name);
  }
}

.body.page.home > article > div .wp-block-latest-posts > li,
span,
nav {
  color: #{getColor(bg-blue)};
  font-family: #{font(text, font-family)};
  font-weight: #{font(text, font-weight)};
}

.wp-block-button__link,
figcaption {
  font-family: #{font(heading, font-family)};
  font-weight: #{font(heading, font-weight)};
  margin: 0;
}

p {
  @include p();
}

li {
  @include basicP();
}

cite {
  @include basicP();
}

/*
    COLORS
*/

:root {
  --brush-white: #fbfbfb;
  --brush-lightGray: #e7e7e7f3;
  --brush-gray: #859fa4;
  --brush-darkGray: #34414b;
  --brush-black: #34414b;
  --brush-lightBlue: #adcbdd;
  --brush-darkBlue: #324358;
  --brush-lightYellow: #ffeec6;
  --brush-darkYellow: #ffc05b;
  --brush-lightGreen: #c6dfd7;

  // https://codepen.io/sosuke/pen/Pjoqqp helped with these
  $filter-white: contrast(1) invert(96%) sepia(4%) saturate(282%)
    hue-rotate(202deg) brightness(102%) contrast(95%);
  --filter-white: #{$filter-white};
  --filter-darkGray: brightness(0) invert(20%) sepia(6%) saturate(2240%)
    hue-rotate(164deg) brightness(98%) contrast(84%);
  --filter-logo-white: brightness(0) #{$filter-white};
}

.text {
  &-light {
    color: #{getColor(text-light)};
  }
  &-mediumLight {
    color: #{getColor(text-mediumDark)};
  }
  &-mediumDark {
    color: #{getColor(text-mediumDark)};
  }
  &-dark {
    color: #{getColor(text-dark)};
  }
}

$colorCategories: ('green', 'yellow', 'white', 'blue', 'black');
@each $color in $colorCategories {
  .bg-#{$color} {
    $bg-color: 'bg-' + $color;
    background-color: #{getColor($bg-color)};
  }
  .#{$color} {
    $bgColor: 'bg-' + $color;
    $varColor: #{getColor($bgColor)};
    &-horizontal-border:before {
      background: frame($varColor, horizontal);
    }
    &-vertical-border:after {
      background: frame($varColor, vertical);
    }
  }
}

.wp {
  &-block {
    &-pullquote {
      $FRINGE: $GAP/2;
      margin: 0 #{-$FRINGE} #{$FRINGE} #{-$FRINGE};
      border-radius: #{$FRINGE};
      overflow: hidden;
      background-color: getColor(bg-gray);
      & > blockquote {
        display: grid;
        grid-template-areas: 'paragraph' 'cite';
        margin: #{$FRINGE};
        & > p {
          margin-bottom: #{$FRINGE};
        }
        & > cite {
          grid-area: cite;
          align-self: end;
          width: 100%;
          text-align: right;
        }
      }
    }
  }
}
