body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


/* 

DEV STYLES

*/

body {
    background: gray;
}

.wp-block-cover {
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.wp-block-cover__inner-container {
    position: absolute;
    top: 50%;
}