@import '../../abstracts/_mixins';

.Social {
  $logo-n-social_y: get-component-property('logo-n-social', y_px);
  align-items: center;
  grid-column-gap: calc(var(--gap) / 2);

  &-decor {
    width: #{$GAP_PX};
    height: #{$logo-n-social_y};
    background: #{getColor('ui-blue')};
    right: 0;
    border-top-left-radius: #{$GAP_PX};
    border-bottom-left-radius: #{$GAP_PX};
  }
  &-list {
    display: flex;
    overflow: auto;
    flex-direction: row;
    justify-items: right;
    padding-left: 0;
    overflow: hidden;
  }

  .Header & {
    grid-area: social;
    display: flex;
    height: 100%;
    &-decor {
      display: none;
    }
  }
  .App-wideScreenControls & {
    display: none;
    position: fixed;
    right: 0;
    top: #{$GAP_PX};
    z-index: 100;
    @include breakpoint('w', 'XGAplus__') {
      display: flex;
    }
  }
}
