@import '../../abstracts/_mixins';

.Social {
  &-item {
    @include icon-img();
    filter: var(--filter-darkGray);
  }
  a {
    height: #{$GAP_PX + get-component-property('social-item', 'default-size__')};
    @include breakpoint('w', 'XGAplus__') {
      min-height: #{$GAP_PX +
        get-component-property('social-item', 'w-XGAplus_min__')};
      height: calc(#{$GAP_PX} + #{$social-icon_XGAplus_responsive_px});
      max-height: #{$GAP_PX +
        get-component-property('social-item', 'w-XGAplus_max__')};
    }
  }
}
