@import '../../../styles/abstracts/_mixins';

$logo-n-social--y-px: get-component-property('logo-n-social', 'y-px');
$feature-image--narrow-x-vw: #{get-component-property(
    'feature-image',
    'narrow-x-vw'
  )};

.Logo {
  grid-area: logo;

  &-decor {
    left: 0;
    border-top-right-radius: #{get-gap(2)};
    border-bottom-right-radius: #{get-gap(2)};
    background: #{get-color('ui-blue')};
    width: #{get-gap()};
    height: #{$logo-n-social--y-px};
  }

  &-logo > img {
    min-width: 70px;
    max-width: 140px;
  }

  header & {
    .Logo {
      &-logo > img {
        margin-top: 8px;
        margin-left: #{get-gap()};
      }

      &-decor {
        display: none;
      }
    }
  }

  .App-wideScreenControls & {
    display: none;
    position: fixed;
    top: #{get-gap(2)};
    left: 0;
    flex-direction: row;
    align-items: center;
    z-index: 90;

    @include breakpoint('w', 'SVGA--') {
      display: flex;

      img {
        $padding-left: #{get-gap()};
        $statics: #{$padding-left} - #{get-gap(4)};
        $width: calc(#{$feature-image--narrow-x-vw} - #{$statics});
        $margin-top: calc(#{$width} / 25);

        margin-top: #{$margin-top};
        padding-left: #{$padding-left};
        width: $width;
        min-width: 170px;
        max-width: 350px;
        max-height: 50px;
        object-fit: scale-down;
      }
    }
  }
}
