@import '../../../styles/abstracts/_mixins';

.Logo {
  $logo-n-social_y: get-component-property('logo-n-social', y_px);
  grid-area: logo;

  &-decor {
    width: var(--gap);
    height: $logo-n-social_y;
    background: #{getColor('ui-blue')};
    left: 0;
    border-top-right-radius: #{get-gap(2)};
    border-bottom-right-radius: #{get-gap(2)};
  }

  &-logo > img {
    max-width: 140px;
    min-width: 70px;
  }

  header & {
    .Logo {
      &-logo > img {
        margin-left: #{get-gap()};
        margin-top: 8px;
      }

      &-decor {
        display: none;
      }
    }
  }

  .App-wideScreenControls & {
    display: none;

    z-index: 90;
    position: fixed;
    top: #{get-gap(2)};
    left: 0;
    flex-direction: row;
    align-items: center;

    @include breakpoint('w', 'SVGA__') {
      display: flex;
      img {
        $featureImageX: #{get-component-property('feature-image', 'narrow_x_vw')};
        $paddingLeft: #{get-gap()};
        $statics: #{$paddingLeft} - #{get-gap(4)};
        $width: calc(#{$featureImageX} - #{$statics});
        $marginTop: calc(#{$width} / 25);

        max-width: 350px;
        min-width: 170px;
        max-height: 50px;
        width: $width;
        margin-top: $marginTop;
        padding-left: $paddingLeft;
        object-fit: scale-down;
      }
    }
  }
}
