@import '../../../styles/abstracts/_mixins';
@import './_canvas-featureImage';
$minimal-screen-padding: get-component-property(
  'page-blog-native',
  'minimal-screen-padding'
);
$normal-screen-padding: get-component-property(
  'page-blog-native',
  'normal-screen-padding'
);

.Canvas {
  $feature-image_x: get-component-property('feature-image', 'narrow_x_vw');
  $footer-square-size_px: get-component-property('footer', 'square-size_px');
  $footer__fg-height_max_px: get-component-property(
    'footer',
    'fg-height_max_px'
  );
  $nav__mobile-height_px: get-component-property('nav', 'mobile-height_px');

  min-height: calc(
    100vh - #{$nav__mobile-height_px} + #{$footer-square-size_px}
  );
  /// This controls the distance that the footer figures have from the page content. However, to be precise, it could be better to use a value that is responsive in proportion to the responsiveness of the footer -fg element
  padding-bottom: #{$footer__fg-height_max_px + 100px};

  @include breakpoint('w', 'SVGA__') {
    display: grid;
    grid-template-areas: '. h1' '. Article' '. Posts-wrapper';
    grid-template-rows: 150px 1fr;
    grid-template-columns: $feature-image_x 2fr;
    grid-column-gap: responsive-width(30, 100, get-breakpoint('w', 'SVGA__'));
  }

  @include breakpoint('w', 'XGAplus__') {
    $navSocialSpaceX: get-component-property('nav', 'social-space_x_px');

    grid-template-areas: '. h1 .' '. Article .' '. Posts-wrapper .';
    grid-template-columns: #{$feature-image_x} 2fr #{$navSocialSpaceX};
  }

  &-decor {
    grid-area: Canvas-decor;
    grid-template-areas: 'h1';
    display: grid;
    position: relative;
    min-height: #{get-component-property('feature-image', 'height_px')};
    width: 100%;

    @include breakpoint('w', 'SVGA__') {
      position: fixed;
      left: 0;
      bottom: 0;
      top: 0;
      width: #{$feature-image_x};
    }

    & > .Canvas-featureTitle {
      align-self: end;
      display: block;
      margin: 0;
      bottom: 0;
      box-sizing: border-box;
      width: 100%;
      padding: #{get-gap()};
      text-align: center;
      overflow: hidden;

      @include breakpoint('w', 'SVGA__') {
        display: none;
      }
    }

    & > .Share {
      display: none;
      position: absolute;

      @include breakpoint('w', 'SVGA__') {
        bottom: #{get-gap() + $nav__mobile-height_px};
        /// !Magic number 5px
        left: #{get-gap(1/2) + 5px};
        display: block;
      }

      @include breakpoint('w', 'XGAplus__') {
        /// !Magic number 5px
        left: #{get-gap() + 5px};
        bottom: #{get-gap()};
      }
    }
  }

  &-articleTitle {
    display: none;
    align-self: center;
    margin: 0;

    @include breakpoint('w', 'SVGA__') {
      display: block;
    }
  }

  article {
    grid-area: Article;
    padding: #{$normal-screen-padding $minimal-screen-padding};

    @include breakpoint('w', 'WQVGA__') {
      padding: #{$normal-screen-padding};
    }

    @include breakpoint('w', 'SVGA__') {
      padding-top: 0;
      padding-left: 0;
    }

    p {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  /// Page overrides
  &.page {
    /// This section overrides some of the defaults of canvas for wordpress homepage
    &.home {
      padding-bottom: 0;

      @include breakpoint('w', 'SVGA__') {
        display: block;

        .Canvas-articleTitle {
          display: none;
        }
      }

      & .Canvas-decor {
        display: none;
      }
    }
  }
}
