@import '../../../styles/abstracts/_mixins';

$page-blog-native--minimal-screen-padding-px: get-component-property(
  'page-blog-native',
  'minimal-screen-padding-px'
);
$page-blog-native--normal-screen-padding-px: get-component-property(
  'page-blog-native',
  'normal-screen-padding-px'
);

.Posts {
  $card-height: 200px;

  &-card {
    display: grid;
    grid-template-areas:
      'image'
      'h3'
      'date'
      'excerpt';
    grid-row-gap: #{get-gap()};
    text-decoration: none;

    @include breakpoint('w', 'SVGA--') {
      grid-template-areas:
        'image h3'
        'image date'
        'image excerpt';
      grid-template-rows: min-content min-content 1fr;
      grid-template-columns: 10vw auto;
      grid-row-gap: #{get-gap()};
      grid-column-gap: #{get-gap(2)};
      height: #{$card-height};
      overflow: hidden;
    }

    &-title {
      margin: 0;
    }

    &-date {
      grid-area: date;
      color: #{get-color('text-mediumLight')};
    }

    &-excerpt {
      grid-area: excerpt;
      overflow: hidden;
      position: relative;

      @include breakpoint('w', 'SVGA--') {
        &::after {
          content: '';
          position: absolute;
          background: linear-gradient(
            180deg,
            transparent 0,
            #{get-color('bg-white')} #{get-gap(2)}
          );
          right: 0;
          bottom: 0;
          left: 0;
          height: #{get-gap(2)};
        }
      }
      & > p {
        margin: 0;
      }
    }

    &-thumbnail {
      $img-SVGA-width-vw: 10vw;

      grid-area: image;
      border-radius: #{get-gap(1)};
      display: grid;
      justify-content: center;
      overflow: hidden;

      @include breakpoint('w', 'SVGA--') {
        height: #{$card-height};
        width: #{$img-SVGA-width-vw};
      }

      & > img {
        width: calc(
          100vw - #{2 * $page-blog-native--minimal-screen-padding-px}
        );
        height: auto;

        @include breakpoint('w', 'WQVGA--') {
          width: calc(
            100vw - #{2 * $page-blog-native--normal-screen-padding-px}
          );
        }

        @include breakpoint('w', 'SVGA--') {
          width: #{$img-SVGA-width-vw};
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
