// Externals
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Baloo+Tammudu+2&family=Istok+Web&family=Kumbh+Sans:wght@300&family=Manrope&family=Nunito:wght@300&family=Quicksand&family=Ubuntu:wght@300&display=swap");

@font-face {
  font-family: "KendiniYenidenKesfet";
  // src: url('webfont.eot'); /* IE9 Compat Modes */
  src: // url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url("./common/fonts/KendiniYenidenKesfet.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./common/fonts/KendiniYenidenKesfet.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("./common/fonts/KendiniYenidenKesfet.ttf")
      format("truetype"); /* Safari, Android, iOS */
  //  url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: "DreamerySansDemo";
  src: url("./common/fonts/212 Dreamery Sans Demo.ttf") format("truetype"); /* Super Modern Browsers */
}

@font-face {
  font-family: "BabyGirl";
  src: url("./common/fonts/212 Baby Girl.otf") format("otf"); /* Super Modern Browsers */
}

@font-face {
  font-family: "LeahleeSans";
  src: url("./common/fonts/212 Leahlee Sans.ttf") format("truetype"); /* Super Modern Browsers */
}

@font-face {
  font-family: "OrionSans";
  src: url("./common/fonts/212 Orion Sans PERSONAL USE.ttf") format("truetype"); /* Super Modern Browsers */
}

@font-face {
  font-family: "AlwaysForeverBold";
  src: url("./common/fonts/Always Forever Bold.ttf") format("truetype"); /* Super Modern Browsers */
}

@font-face {
  font-family: "AlwaysForever";
  src: url("./common/fonts/Always Forever.ttf") format("truetype"); /* Super Modern Browsers */
}

@font-face {
  font-family: "CaviarDreams_Bold";
  src: url("./common/fonts/CaviarDreams_Bold.ttf") format("truetype"); /* Super Modern Browsers */
}

@font-face {
  font-family: "CaviarDreams_BoldItalic";
  src: url("./common/fonts/CaviarDreams_BoldItalic.ttf") format("truetype"); /* Super Modern Browsers */
}

@font-face {
  font-family: "CaviarDreams_Italic";
  src: url("./common/fonts/CaviarDreams_Italic.ttf") format("truetype"); /* Super Modern Browsers */
}

@font-face {
  font-family: "CaviarDreams";
  src: url("./common/fonts/CaviarDreams.ttf") format("truetype"); /* Super Modern Browsers */
}

@font-face {
  font-family: "MoonbrightDemo";
  src: url("./common/fonts/Moonbright Demo.ttf") format("truetype"); /* Super Modern Browsers */
}

@font-face {
  font-family: "MoonbrightInlineDemo";
  src: url("./common/fonts/Moonbright Inline Demo.ttf") format("truetype"); /* Super Modern Browsers */
}

@font-face {
  font-family: "whateverittakesbold";
  src: url("./common/fonts/whatever it takes bold.ttf") format("truetype"); /* Super Modern Browsers */
}

@font-face {
  font-family: "whateverittakes";
  src: url("./common/fonts/whatever it takes.ttf") format("truetype"); /* Super Modern Browsers */
}
