// Externals
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Baloo+Tammudu+2&family=Istok+Web&family=Kumbh+Sans:wght@300&family=Manrope&family=Nunito:wght@300&family=Quicksand&family=Ubuntu:wght@300&display=swap");

@font-face {
  font-family: "KendiniYenidenKesfet";
  // src: url('webfont.eot'); /* IE9 Compat Modes */
  src: // url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    // url("../fonts/KendiniYenidenKesfet.woff2") format("woff2"),
    // url("../fonts/KendiniYenidenKesfet.woff") format("woff"),
    url("../fonts/KendiniYenidenKesfet.ttf") format("truetype");
  //  url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: "DreamerySansDemo";
  src: url("../fonts/212 Dreamery Sans Demo.ttf") format("truetype"); /* Super Modern Browsers */
}

@font-face {
  font-family: "BabyGirl";
  src: url("../fonts/212 Baby Girl.otf") format("otf"); /* Super Modern Browsers */
}

@font-face {
  font-family: "LeahleeSans";
  src: url("../fonts/212 Leahlee Sans.ttf") format("truetype"); /* Super Modern Browsers */
}

@font-face {
  font-family: "OrionSans";
  src: url("../fonts/212 Orion Sans PERSONAL USE.ttf") format("truetype"); /* Super Modern Browsers */
}

@font-face {
  font-family: "AlwaysForeverBold";
  src: url("../fonts/Always Forever Bold.ttf") format("truetype"); /* Super Modern Browsers */
}

@font-face {
  font-family: "AlwaysForever";
  src: url("../fonts/Always Forever.ttf") format("truetype"); /* Super Modern Browsers */
}

@font-face {
  font-family: "CaviarDreams_Bold";
  src: url("../fonts/CaviarDreams_Bold.ttf") format("truetype"); /* Super Modern Browsers */
}

@font-face {
  font-family: "CaviarDreams_BoldItalic";
  src: url("../fonts/CaviarDreams_BoldItalic.ttf") format("truetype"); /* Super Modern Browsers */
}

@font-face {
  font-family: "CaviarDreams_Italic";
  src: url("../fonts/CaviarDreams_Italic.ttf") format("truetype"); /* Super Modern Browsers */
}

@font-face {
  font-family: "CaviarDreams";
  src: url("../fonts/CaviarDreams.ttf") format("truetype"); /* Super Modern Browsers */
}

@font-face {
  font-family: "MoonbrightDemo";
  src: url("../fonts/Moonbright Demo.ttf") format("truetype"); /* Super Modern Browsers */
}

@font-face {
  font-family: "MoonbrightInlineDemo";
  src: url("../fonts/Moonbright Inline Demo.ttf") format("truetype"); /* Super Modern Browsers */
}

@font-face {
  font-family: "whateverittakesbold";
  src: url("../fonts/whatever it takes bold.ttf") format("truetype"); /* Super Modern Browsers */
}

@font-face {
  font-family: "whateverittakes";
  src: url("../fonts/whatever it takes.ttf") format("truetype"); /* Super Modern Browsers */
}
