@import '_vars';
@import '_mixins';

$PASSIVE_GAP: $GAP/4;
$ACTIVE_GAP: $GAP/1.5;

.os-scrollbar {
  z-index: 150;
  padding: 0 !important;
  &-vertical {
    width: #{$ACTIVE_GAP} !important;
    &:active,
    &:hover {
      width: #{$ACTIVE_GAP} !important;
      & .os-scrollbar-handle {
        @include viewport(w, SVGA) {
          width: #{$ACTIVE_GAP};
          border-top-left-radius: #{$ACTIVE_GAP} !important;
          border-bottom-left-radius: #{$ACTIVE_GAP} !important;
        }
      }
    }

    & .os-scrollbar-handle {
      width: #{$PASSIVE_GAP};
      right: 0;
      background-color: #{getColor(ui-gray)} !important;
      border-radius: 0 !important;
      border-top-left-radius: #{$PASSIVE_GAP} !important;
      border-bottom-left-radius: #{$PASSIVE_GAP} !important;
    }
  }
  &-horizontal {
    height: #{$ACTIVE_GAP} !important;
    &:active,
    &:hover {
      height: #{$ACTIVE_GAP} !important;
      & .os-scrollbar-handle {
        @include viewport(w, SVGA) {
          height: #{$ACTIVE_GAP};
          border-top-left-radius: #{$ACTIVE_GAP} !important;
          border-top-right-radius: #{$ACTIVE_GAP} !important;
        }
      }
    }

    & .os-scrollbar-handle {
      height: #{$PASSIVE_GAP};
      bottom: 0;
      background-color: #{getColor(ui-gray)} !important;
      border-radius: 0 !important;
      border-top-left-radius: #{$PASSIVE_GAP} !important;
      border-top-right-radius: #{$PASSIVE_GAP} !important;
    }
  }
}
