/// Color variables
/// These can be hard coded when the client decides on which colors that they
/// want to use.
/// @group theme
/// @access public
:root {
  --brush-white: #fbfbfb;
  --brush-lightGray: #edf3f3;
  --brush-gray: #859fa4;
  --brush-darkGray: #34414b;
  --brush-black: #34414b;
  --brush-lightBlue: #adcbdd;
  --brush-darkBlue: #324358;
  --brush-lightYellow: #ffeec6;
  --brush-darkYellow: #ffc05b;
  --brush-lightGreen: #c6dfd7;
}

/// Color filters
/// These are mostly used for altering colors of logos in order to bring them
/// in line with the color choices of the client. These need to be reevaluated
/// whenever the client requests some change in colors.
/// Their css variable form can be replaced by static values once the client is
/// set with their color decisions.
/// @access public
/// @group theme
:root {
  // https://codepen.io/sosuke/pen/Pjoqqp helped with these
  $filter-white: contrast(1) invert(96%) sepia(4%) saturate(282%)
    hue-rotate(202deg) brightness(102%) contrast(95%);

  --filter-white: #{$filter-white};
  --filter-darkGray: brightness(0) invert(20%) sepia(6%) saturate(2240%)
    hue-rotate(164deg) brightness(98%) contrast(84%);
  --filter-logo-white: brightness(0) #{$filter-white};
}
