@import "../common/_vars";
@import "../common/_mixins";


.Spinner {
    position: fixed;
    padding: 3rem;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    justify-items: center;
    grid-row-gap: 1rem;
    grid-template-rows: 45% 65%;
    z-index: 110;
    background-color: rgba(255, 255, 255, 0.3);
    grid-template-areas: 
        "logo"
        "LoadMessage";

    &-logo {
        grid-area: logo;
        align-self: end;
        filter: var(--bg-blue-filter);
        max-height: 60px;
        
        // @include narrowScreen() {
        //     height: 60px;
        // }
    }

    &-loadMessage {
        grid-area: LoadMessage;
        font-family: $textFont;
        align-self: top;
        color: var(--text-mediumDark);

        @include narrowScreen() {
            font-size: 25px;
        }
    }
}