@import "../../common/styles/_vars";
@import "../../common/styles/_mixins";

.Social {
  &-item {
    @include headerIcon();
    filter: var(--filter-darkGray);
  }
  a {
    height: #{$gap + $socialIconDefaultSize_px};
    @include wideScreen() {
      min-height: #{$gap + $socialIconWideScreenMinSize_px};
      height: calc(#{$gap} + #{$socialIconWideScreenActiveSize_px});
      max-height: #{$gap + $socialIconWideScreenMaxSize_px};
    }
  }
}
