@import '../../common/styles/_vars';
@import '../../common/styles/_mixins';

.Social {
  &-item {
    @include headerIcon();
    filter: var(--filter-darkGray);
  }
  a {
    height: #{$GAP + getComponentProperty(socialItem, defaultSize__)};
    @include viewport(w, XGAplus) {
      min-height: #{$GAP +
        getComponentProperty(socialItem, wideScreen_MinSize__)};
      height: calc(#{$GAP} + #{$socialIcon_WideScreen_Responsive_px});
      max-height: #{$GAP +
        getComponentProperty(socialItem, wideScreen_MaxSize__)};
    }
  }
}
