@import "../../common/_vars";
@import "../../common/_mixins";

.NavHeaderView {
    display: none;
    grid-area: nav;
    height: 100%;

    @include narrowScreen() {
        display: block;
    }

    @include wideScreen() {
        display: none;
    }

    & nav {
        height: 100%;
    }

    & .Nav-item {
        padding: {
            left: #{$accentThickness /3};
            right: #{$accentThickness /3};
        };
        height: 100%;
        line-height: #{$mobileNavigationHeight};
        position: relative;
        color: #{map-get($colorMap, text-dark)};
        text-align: right;

        &-active {
            color: #{map-get($colorMap, ui-decoration)};
    
            &:after {
                position: absolute;
                content: "";
                bottom: 0;
                height: #{$accentThickness / 4};
                left: #{$accentThickness / 4};
                right: #{$accentThickness / 4};
                background-color:  #{map-get($colorMap, ui-decoration)};
                border-top-left-radius: #{$accentThickness / 4};
                border-top-right-radius: #{$accentThickness / 4};
            }
        }
    }
}
