@import "../../common/_vars";
@import "../../common/_mixins";


.NavFixedView {
    display: none;
    z-index: 100;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom: 0; 
    

    @include narrowScreen() {
        display: none;
    }

    @include wideScreen() {
        display: block;
        right:0;
        width:auto;
        left: auto;
        top: 50vh;
        height: min-content;
        transform: translateY(-50%);
        z-index: 100;
    }

    &.open {
        display: block;      

        @include narrowScreen() {
            display: none;
        }

        @include wideScreen() {
            display: block;
        }
    }

    &-list {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #{map-get($colorMap, bg-white)};

        @include wideScreen() {
            position: relative;
            margin-right: #{$accentThickness/2};
            background-color: transparent;
        }
    }

    &-decor {
        display: none;

        @include wideScreen() {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: #{$accentThickness/2};
            background-color:  #{map-get($colorMap, ui-yellow)};
        }
    }

    &-mask {                
        position: fixed;
        background: linear-gradient(rgba(255,255,255, 0.6), transparent calc(100vh - #{$mobileNavigationHeight}));
        top:0;
        left:0;
        right:0;
        bottom:0;

        @include narrowScreen() {
            display: none;
        }
    }

    & nav {
        flex-direction: column;
        align-items: flex-end;
        @include wideScreen() {
            justify-content: center;
            padding: #{$accentThickness} 0;
        }
    }

    & .Nav-item {
        display: block;
        padding: #{$accentThickness / 2} #{$accentThickness};
        position: relative;
        color: #{map-get($colorMap, text-dark)};
        text-align: right;
    
        @include wideScreen() {
            color:  #{map-get($colorMap, ui-blue)};
            padding: #{$accentThickness /4} #{$accentThickness /2};
            font-size: adjustSize(20, 26);                    
        }
    
        &-active {
            color: #{map-get($colorMap, ui-decoration)};
    
            &:after {
                position: absolute;
                content: "";
                top: 0;
                bottom: 0;
                right: 0;
                width: #{$accentThickness / 2};
                background-color:  #{map-get($colorMap, ui-decoration)};
    
                @include narrowScreen() {
                    width: auto;
                    height: #{$accentThickness / 4};
                    top: auto;
                    right: #{$accentThickness /2};
                    left: #{$accentThickness /2};
                }
    
                @include wideScreen() {
                    left: auto;
                    bottom: 0;
                    top: 0;
                    right: 0;
                    width: #{$accentThickness /4};
                    height: auto;
                }
            }
        }
    }

}