@import '../../common/styles/_vars';
@import '../../common/styles/_mixins';

.NavHeaderView {
  display: none;
  grid-area: nav;
  height: 100%;

  @include narrowScreen() {
    display: block;
  }

  @include wideScreen() {
    display: none;
  }

  & nav {
    height: 100%;
  }

  & .Nav-item {
    padding: {
      left: #{$gap / 3};
      right: #{$gap / 3};
    }
    height: 100%;
    line-height: #{$mobileNavigationHeight};
    position: relative;
    color: #{map-get($colorMap, text-dark)};
    text-align: right;

    &-active {
      color: #{map-get($colorMap, ui-decoration)};

      &:after {
        position: absolute;
        content: '';
        bottom: 0;
        height: #{$gap / 4};
        left: #{$gap / 4};
        right: #{$gap / 4};
        background-color: #{map-get($colorMap, ui-decoration)};
        border-top-left-radius: #{$gap / 4};
        border-top-right-radius: #{$gap / 4};
      }
    }
  }
}
