@import '../../common/styles/_vars';
@import '../../common/styles/_mixins';

.NavFixedView {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @include viewport(w, SVGA) {
    display: none;
  }

  @include viewport(w, XGAplus) {
    display: block;
    right: 0;
    width: auto;
    left: auto;
    top: 50vh;
    height: min-content;
    transform: translateY(-50%);
    z-index: 100;
  }

  &.open {
    display: block;

    @include viewport(w, SVGA) {
      display: none;
    }

    @include viewport(w, XGAplus) {
      display: block;
    }
  }

  &-list {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #{getColor(bg-white)};

    @include viewport(w, XGAplus) {
      position: relative;
      margin-right: #{$GAP};
      background-color: transparent;
    }
  }

  &-decor {
    display: none;

    @include viewport(w, XGAplus) {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: #{$GAP};
      background-color: #{getColor(ui-yellow)};
      border-top-left-radius: #{$GAP};
      border-bottom-left-radius: #{$GAP};
    }
  }

  &-mask {
    position: fixed;
    background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      transparent calc(100vh - #{getComponentProperty(nav, mobileHeight_px)})
    );
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @include viewport(w, SVGA) {
      display: none;
    }
  }

  & nav {
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: #{getComponentProperty(nav, mobileHeight_px)};
    @include viewport(w, XGAplus) {
      justify-content: center;
      padding: #{$GAP} 0;
      margin-bottom: 0;
    }
  }

  & .Nav-item {
    display: block;
    padding: #{$GAP / 2} #{$GAP};
    position: relative;
    color: #{getColor(text-dark)};
    text-align: right;

    @include viewport(w, XGAplus) {
      color: #{getColor(ui-blue)};
      padding: #{$GAP / 4} #{$GAP / 2};
      font-size: responsive(20, 26);
    }

    &-active {
      color: #{getColor(ui-decoration)};

      &:after {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        right: 0;
        width: #{$GAP / 2};
        background-color: #{getColor(ui-decoration)};
        border-top-left-radius: #{$GAP/2};
        border-bottom-left-radius: #{$GAP/2};

        @include viewport(w, SVGA) {
          width: auto;
          height: #{$GAP / 4};
          top: auto;
          right: #{$GAP / 2};
          left: #{$GAP / 2};
        }

        @include viewport(w, XGAplus) {
          left: auto;
          bottom: 0;
          top: 0;
          right: 0;
          width: #{$GAP / 4};
          border-top-left-radius: #{$GAP/4};
          border-bottom-left-radius: #{$GAP/4};
          height: auto;
        }
      }
    }
  }
}
