@import '../../common/styles/_vars';
@import '../../common/styles/_mixins';

.NavHeaderView {
  display: none;
  grid-area: nav;
  height: 100%;

  @include viewport(w, SVGA) {
    display: block;
  }

  @include viewport(w, XGAplus) {
    display: none;
  }

  & nav {
    height: 100%;
  }

  & .Nav-item {
    padding: {
      left: #{$GAP / 3};
      right: #{$GAP / 3};
    }
    height: 100%;
    line-height: #{getComponentProperty(nav, mobileHeight_px)};
    position: relative;
    color: #{getColor(text-dark)};
    text-align: right;

    &-active {
      color: #{getColor(ui-decoration)};

      &:after {
        position: absolute;
        content: '';
        bottom: 0;
        height: #{$GAP / 4};
        left: #{$GAP / 4};
        right: #{$GAP / 4};
        background-color: #{getColor(ui-decoration)};
        border-top-left-radius: #{$GAP / 4};
        border-top-right-radius: #{$GAP / 4};
      }
    }
  }
}
