@import '../../../styles/abstracts/mixins';

/// Styling for the sharing icons and their container
/// Any container for this group is styled by a separate file
.ShareView {
  $button-padding--XGAplus: get-gap(1/2);
  margin-left: #{-$button-padding--XGAplus};
  margin-bottom: #{-$button-padding--XGAplus};

  /// Styling for the icons
  * {
    padding: #{get-gap(1/4)};
    outline: none;
    border-radius: #{get-gap()};

    @include breakpoint('w', 'XGAplus--') {
      padding: #{$button-padding--XGAplus};
    }
  }
}
