@import "../../common/_vars";
@import "../../common/_mixins";


.PostList {
    grid-area: PostList;

    &-wrapper{
        grid-area: PostList-wrapper;

        & > h4 {
            // padding: #{$accentThickness};
            text-align: center;

            @include narrowScreen() {
                text-align: left;
            }
        }
    }
    
    li {
        list-style: none;
        margin-bottom: #{2*$accentThickness};
        padding: #{$accentThickness};
        border-radius: #{$accentThickness};
        // padding: #{$accentThickness};
        
        // article & { // correction for blog page
            //     padding: 0;
            // }
        &:hover {
            background-color: #{map-get($colorMap, bg-gray)};
        }
    }

    ol {
        margin: 0;
        padding: 0;
    }

    @include narrowScreen() {
        margin-left: #{-$accentThickness}
    }
}