@import '../../../styles/abstracts/_mixins';

.Footer {
  $creditsSize: 20vw;
  $creditsMaxSize: 150px;
  $footer_square-size_px: get-component-property(footer, square-size_px);

  &-elements {
    &-credits {
      box-sizing: border-box;
      display: grid;
      right: 0;
      bottom: 0;
      align-items: end;
      justify-items: end;
      border-top-left-radius: #{get-gap()};
      background: #{getColor('bg-black')};
      padding: #{get-gap(1/2)};
      width: #{$creditsSize};
      min-width: #{$footer_square-size_px};
      max-width: #{$creditsMaxSize};
      height: 100%;
      font-family: #{get-font-property('text', 'font-family')};
      font-weight: #{get-font-property('text', 'font-weight')};
      font-size: 1rem;

      &-yearAndName {
        color: #{getColor('text-light')};
        text-align: right;
      }
    }
  }
}
