@import "../../common/_vars";
@import "../../common/_mixins";

.Social {
    $logoNSocialY: map-get($narrow, logoNSocialY);
    align-items: center;
    grid-column-gap: calc( var(--accent-thickness) / 2);

    &-decor {
        // display: none;
        width: #{$accentThickness/2};
        height: $logoNSocialY;
        background: #{map-get($colorMap, ui-blue)};
        right: 0;
    }
    &-list {
        display: flex;
        overflow: auto;
        flex-direction: row;
        justify-items: right;
        padding-left: 0;
        overflow: hidden;
    }

    .Header & {
        grid-area: social;
        display: flex;
        height: 100%;
        &-decor {
            display: none;
        }
    }
    .App-wideScreenControls & {
        display: none;
        position: fixed;
        right: 0;
        top: #{$accentThickness};
        z-index: 100;
        @include wideScreen() {
            display: flex;
        }
        // &-icon {
        // }
    }
}