@import '../../common/styles/_vars';
@import '../../common/styles/_mixins';
@import '_featureImage';
@import './canvas_page_home';

.Canvas {
  $featureImageX: getComponentProperty(featureImage, narrow_x_vw);
  $footerSquareSize_px: getComponentProperty(footer, squareSize_px);
  min-height: calc(
    100vh - #{getComponentProperty(nav, mobileHeight_px)} + #{$footerSquareSize_px}
  );
  @include viewport(w, SVGA) {
    display: grid;
    grid-template-areas: '. h1' '. Article' '. Posts-wrapper';
    grid-template-rows: 150px 1fr;
    grid-template-columns: $featureImageX 2fr;
    grid-column-gap: responsive(
      30,
      100,
      map-get(map-get($VIEWPORT, width), SVGA)
    );
  }
  @include viewport(w, XGAplus) {
    $navSocialSpaceX: getComponentProperty(nav, socialSpace_x_px);
    grid-template-areas: '. h1 .' '. Article .' '. Posts-wrapper .';
    grid-template-columns: $featureImageX 2fr $navSocialSpaceX;
  }
  &-decor {
    grid-area: Canvas-decor;
    grid-template-areas: 'h1';
    // overflow: auto;
    display: grid;
    position: relative;
    min-height: #{getComponentProperty(featureImage, height_px)};
    width: 100%;
    @include viewport(w, SVGA) {
      position: fixed;
      left: 0;
      bottom: 0;
      top: 0;
      width: $featureImageX;
    }
    & > .Canvas-featureTitle {
      align-self: end;
      display: block;
      bottom: 0;
      box-sizing: border-box;
      width: 100%;
      padding: var(--accent-thickness);
      text-align: center;
      overflow: hidden;
      @include viewport(w, SVGA) {
        display: none;
      }
    }
    // Feature image has its own style file
  }
  &-articleTitle {
    display: none;
    align-self: center;
    // padding: #{$GAP};
    @include viewport(w, SVGA) {
      display: block;
      // padding: #{$GAP};
    }
  }
  article {
    grid-area: Article;
    padding-top: var(--accent-thickness);
    padding-right: var(--accent-thickness);
    padding-bottom: 300px;
    padding-left: var(--accent-thickness);
    @include viewport(w, SVGA) {
      padding-top: 0;
      padding-left: 0;
    }
    p {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
