@mixin wpPostsP() {
  @include p();
  font-size: responsive(typography(p, FontSize_Min__), 16) !important;
  line-height: responsive(typography(p, LineHeight_Min__), 20) !important;
  margin: 0;
}
@mixin wpPosts($type, $gridFlow: row, $cardColor: getColor(bg-white)) {
  .wp-block-latest-posts {
    grid-area: posts;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    $homePostsNarrowY: getComponentProperty(home, posts_y_px);
    $liDistance: $GAP;
    $liMinWidth: 260px;
    $liMaxWidth: 350px;
    @include viewport(w, SVGA) {
      border-radius: #{$GAP/2};
    }
    &,
    .os-content {
      display: grid;
      grid-auto-flow: column;
      @include viewport(w, SVGA) {
        @if $gridFlow == row {
          grid-auto-flow: row;
        } @else if $gridFlow == column {
        }
      }
    }
    & li {
      background-color: $cardColor;
      margin-left: #{$liDistance};
      display: grid;
      grid-row-gap: #{$GAP / 2};
      position: relative;
      width: 50vw;
      max-width: #{$liMaxWidth};
      border-radius: #{$GAP/2};
      padding: #{$GAP/2};
      overflow: hidden;
      height: calc(100% - #{$GAP});
      cursor: pointer;
      @if $type == posts {
        grid-template-areas:
          'image'
          'title'
          'time'
          'excerpt';
        grid-template-rows: max-content max-content max-content max-content;
      } @else if $type == success {
        grid-template-areas:
          'image'
          'title'
          'excerpt';
        grid-template-rows: max-content max-content 1fr;
      }
      &::before {
        content: '';
        position: absolute;
        z-index: 10;
        bottom: 0;
        width: 100%;
        height: #{$GAP / 2 * 3};
        background: linear-gradient(transparent 0, #{$cardColor} #{$GAP});
      }
      @include viewport(w, SVGA) {
        @if $gridFlow == row {
          @if $type == posts {
            grid-template-areas:
              'image title'
              'image time'
              'image excerpt';
            grid-template-rows: min-content min-content auto;
            grid-template-columns: #{$homePostsNarrowY} auto;
            grid-column-gap: #{$GAP/2};
            grid-row-gap: 5px;
            width: 100%;
            max-width: calc(100% - #{$GAP});
            height: calc(#{$homePostsNarrowY} + #{$GAP});
            margin-left: 0;
            margin-bottom: #{$GAP};
          }
        } @else if $gridFlow == column {
          max-width: 250px;
        }
        &:first-child {
          margin-left: 0;
        }
      }
      &:last-child::after {
        content: '';
        position: absolute;
        right: #{-1.25 * $liDistance};
        width: 1px;
        height: 1px;
      }
      .wp-block-latest-posts__featured-image {
        grid-area: image;
        height: 150px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        border-radius: #{$GAP/3};
        @include viewport(w, SVGA) {
          @if $gridFlow == row {
            height: calc(#{$homePostsNarrowY} + #{$GAP});
          }
        }
        & > img {
          min-height: 100%;
          min-width: 100%;
          object-fit: cover;
          z-index: 10;
          @include viewport(w, SVGA) {
            @if $gridFlow == row {
              object-fit: cover;
            }
          }
        }
      }
      time {
        @include wpPostsP();
        margin: 0;
        grid-area: time !important;
        font-size: 0.8em;
        color: #{getColor(text-mediumLight)};
        @include viewport(w, SVGA) {
          @if $type == posts {
            display: block;
          }
        }
      }
      .wp-block-latest-posts__post-full-content,
      .wp-block-latest-posts__post-excerpt {
        @include p();
        &,
        & > p {
          @include wpPostsP();
        }
        font-size: #{map-get($FONT_SIZES, excerpt)};
        grid-area: excerpt !important;
        color: #{getColor(text-mediumDark)};
        position: relative;
        margin: 0;
      }
      a {
        @include h4;
        grid-area: title;
        text-decoration: none;
      }
    }
  }
}
