@mixin wpPostsP() {
  @include p();
  font-size: adjustSize($pFontSizeMin_px, 16) !important;
  line-height: adjustSize($pLineHeightMin_px, 20) !important;
  margin: 0;
}
@mixin wpPosts($type, $gridFlow: row, $cardColor: map-get($colorMap, bg-gray)) {
  .wp-block-latest-posts {
    grid-area: posts;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    $homePostsNarrowY: map-get($narrow, homePostsNarrowY);
    $liDistance: $gap;
    $liMinWidth: 260px;
    $liMaxWidth: 350px;
    @include narrowScreen() {
      border-radius: #{$gap/2};
    }
    &,
    .os-content {
      display: grid;
      grid-auto-flow: column;
      @include narrowScreen() {
        @if $gridFlow == row {
          grid-auto-flow: row;
        } @else if $gridFlow == column {
        }
      }
    }
    & li {
      background-color: $cardColor;
      margin-left: #{$liDistance};
      display: grid;
      grid-row-gap: #{$gap / 2};
      position: relative;
      width: 50vw;
      max-width: #{$liMaxWidth};
      border-radius: #{$gap/2};
      padding: #{$gap/2};
      overflow: hidden;
      height: calc(100% - #{$gap});
      cursor: pointer;
      @if $type == posts {
        grid-template-areas:
          "image"
          "title"
          "time"
          "excerpt";
        grid-template-rows: max-content max-content max-content max-content;
      } @else if $type == success {
        grid-template-areas:
          "image"
          "title"
          "excerpt";
        grid-template-rows: max-content max-content 1fr;
      }
      &::before {
        content: "";
        position: absolute;
        z-index: 10;
        bottom: 0;
        width: 100%;
        height: #{$gap / 2 * 3};
        background: linear-gradient(transparent 0, #{$cardColor} #{$gap});
      }
      @include narrowScreen() {
        @if $gridFlow == row {
          @if $type == posts {
            grid-template-areas:
              "image title"
              "image time"
              "image excerpt";
            grid-template-rows: min-content min-content auto;
            grid-template-columns: #{$homePostsNarrowY} auto;
            grid-column-gap: #{$gap/2};
            grid-row-gap: 5px;
            width: 100%;
            max-width: calc(100% - #{$gap});
            height: calc(#{$homePostsNarrowY} + #{$gap});
            margin-left: 0;
            margin-bottom: #{$gap};
          }
        } @else if $gridFlow == column {
          max-width: 250px;
        }
        &:first-child {
          margin-left: 0;
        }
      }
      &:last-child::after {
        content: "";
        position: absolute;
        right: #{-1.25 * $liDistance};
        width: 1px;
        height: 1px;
      }
      .wp-block-latest-posts__featured-image {
        grid-area: image;
        height: 150px;
        overflow: hidden;
        display: flex;
        align-items: center;
        border-radius: #{$gap/3};
        @include narrowScreen() {
          @if $gridFlow == row {
            height: calc(#{$homePostsNarrowY} + #{$gap});
          }
        }
        & > img {
          width: 100%;
          height: auto;
          z-index: 10;
          @include narrowScreen() {
            @if $gridFlow == row {
              object-fit: cover;
            }
          }
        }
      }
      time {
        @include wpPostsP();
        margin: 0;
        grid-area: time !important;
        font-size: 0.8em;
        color: #{map-get($colorMap, text-mediumLight)};
        @include narrowScreen() {
          @if $type == posts {
            display: block;
          }
        }
      }
      .wp-block-latest-posts__post-full-content,
      .wp-block-latest-posts__post-excerpt {
        @include p();
        &,
        & > p {
          @include wpPostsP();
        }
        font-size: $excerptFontSize;
        grid-area: excerpt !important;
        color: #{map-get($colorMap, text-mediumDark)};
        position: relative;
        margin: 0;
      }
      a {
        @include h4;
        grid-area: title;
        text-decoration: none;
      }
    }
  }
}
