@mixin wpPostsP() {
  @include p();
  font-size: adjustSize($pFontSizeMin_px, 16) !important;
  // font-size: adjustSize(14, 20) !important;
  line-height: adjustSize($pLineHeightMin_px, 20) !important;
  // line-height: adjustSize(28, 25) !important;
  margin: 0;
}

@mixin wpPosts($type, $gridFlow: row, $cardColor: map-get($colorMap, bg-gray)) {
  .wp-block-latest-posts {
    grid-area: posts;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    $homePostsNarrowY: map-get($narrow, homePostsNarrowY);
    $liDistance: $gap;
    $liMinWidth: 260px;
    $liMaxWidth: 350px;

    @include narrowScreen() {
      border-radius: #{$gap/2};
    }

    // $limediumTallHeight: 60vh;

    // // overflow-x: scroll;
    // // overflow-y: hidden;
    // // position: absolute;
    // margin: 0 #{-$liDistance};
    // height: 100%;
    // padding: 0;
    &,
    .os-content {
      display: grid;
      grid-auto-flow: column;
      @include narrowScreen() {
        @if $gridFlow == row {
          // margin: 0;
          grid-auto-flow: row;
          //             overflow-x: hidden;
          //             overflow-y: scroll;

          //             align-self: center;
          //             margin: 0;
        } @else if $gridFlow == column {
          //             margin: 0 #{-$gap} 0 #{-$gap};
          //             // margin-left: #{$gap};
          //             // grid-auto-flow: row;
          //             // this is not being implemented as it's not being used right now
        }
      }
    }

    // .os-content {

    // }

    // @include wideScreen() {
    //     @if $gridFlow == row {
    //     } @else if $gridFlow == column {
    //         margin: 0 0 0 #{-$gap};
    //     }
    // }

    // @include mediumTallScreen() {
    //     height: #{$limediumTallHeight};
    //     padding: #{$gap/2};
    // }

    // // &::-webkit-scrollbar {
    // //     display: none;
    // // }

    & li {
      //     box-sizing: border-box;
      background-color: $cardColor;
      margin-left: #{$liDistance};
      display: grid;
      grid-row-gap: #{$gap / 2};
      position: relative;
      width: 50vw;
      // min-width: #{$liMinWidth};
      max-width: #{$liMaxWidth};
      border-radius: #{$gap/2};
      padding: #{$gap/2};
      overflow: hidden;

      // height: 100px;
      //     border: #{$gap/2} solid transparent;
      height: calc(100% - #{$gap});

      @if $type == posts {
        grid-template-areas:
          "image"
          "title"
          "time"
          "excerpt";
        grid-template-rows: max-content max-content max-content max-content;
      } @else if $type == success {
        grid-template-areas:
          "image"
          "title"
          "excerpt";
        grid-template-rows: max-content max-content 1fr;
      }

      &::before {
        content: "";
        position: absolute;
        z-index: 10;
        bottom: 0;
        width: 100%;
        height: #{$gap / 2 * 3};
        // background: #{$cardColor};
        background: linear-gradient(transparent 0, #{$cardColor} #{$gap});
      }

      @include narrowScreen() {
        @if $gridFlow == row {
          @if $type == posts {
            grid-template-areas:
              "image title"
              "image time"
              "image excerpt";
            grid-template-rows: min-content min-content auto;
            grid-template-columns: #{$homePostsNarrowY} auto;
            grid-column-gap: #{$gap/2};
            grid-row-gap: 5px;

            width: 100%;
            max-width: calc(100% - #{$gap});
            height: calc(#{$homePostsNarrowY} + #{$gap});
            // height: auto;
            margin-left: 0;
            margin-bottom: #{$gap};
            //             } @else if $type == success {
          }
        } @else if $gridFlow == column {
          // @if $type == posts {
          max-width: 250px;
          //             } @else if $type == success {
        }
        // }
        &:first-child {
          margin-left: 0;
        }
      }

      //     @include mediumTallScreen() {
      //         @if $gridFlow == column {
      //             height: #{$limediumTallHeight};
      //         }
      //     }

      //     // &::after {
      //     //     content: "";
      //     //     position: absolute;
      //     //     left: #{-$gap};
      //     //     right: #{-$gap};
      //     //     top: 0;
      //     //     bottom: 0;
      //     //     background: frame($cardColor, horizontal);
      //     //     pointer-events: none;
      //     //     border-radius: #{$gap};
      //     // }

      &:last-child::after {
        content: "";
        position: absolute;
        right: #{-1.25 * $liDistance};
        width: 1px;
        height: 1px;
        // background-color: red;
      }

      .wp-block-latest-posts__featured-image {
        grid-area: image;
        height: 150px;
        // min-height: 150px;
        // max-height: #{$liMaxWidth};
        overflow: hidden;
        display: flex;
        align-items: center;
        border-radius: #{$gap/3};

        @include narrowScreen() {
          @if $gridFlow == row {
            height: calc(#{$homePostsNarrowY} + #{$gap});
          }
        }

        & > img {
          height: 100%;
          width: auto;
          // width: 100%;
          // height: auto;
          // position: absolute;
          z-index: 10;

          @include narrowScreen() {
            @if $gridFlow == row {
              object-fit: cover;
            }
          }
        }
      }

      time {
        @include wpPostsP();
        // display: none;

        margin: 0;
        grid-area: time !important;
        font-size: 0.8em;
        color: #{map-get($colorMap, text-mediumLight)};

        @include narrowScreen() {
          @if $type == posts {
            display: block;
          }
        }
      }

      .wp-block-latest-posts__post-full-content,
      .wp-block-latest-posts__post-excerpt {
        @include p();
        // @include limitParagraphLines(6);

        &,
        & > p {
          @include wpPostsP();
        }
        // @if $type == posts {
        //     display: none;
        // }
        font-size: $excerptFontSize;
        grid-area: excerpt !important;
        color: #{map-get($colorMap, text-mediumDark)};
        position: relative;
        margin: 0;

        //         @include narrowScreen() {
        //             display: block;

        //             & > p {
        //                 margin: 0;
        //             }
        //         }

        //         &::after {
        //             content: " ...";
        //             position: absolute;
        //             bottom: 0;
        //             right: 0;
        //             height: 25px;
        //             width: 36px;
        //             background-color: #{$cardColor};

        //             @include narrowScreen() {
        //                 display: none;
        //             }
        //         }
      }

      a {
        @include h4;
        grid-area: title;
        text-decoration: none;
      }
    }
  }
}
