@import '../../abstracts/_mixins';

.App {
  $nav_mobile-height_px: get-component-property('nav', 'mobile-height_px');

  &-scrollWindow {
    margin-bottom: #{$nav_mobile-height_px};
    height: calc(100vh - #{$nav_mobile-height_px});
    overflow-x: hidden;
    overflow-y: auto;

    @include breakpoint('w', 'XGAplus__') {
      margin-bottom: 0;
      height: 100vh;
    }
  }

  &-scrollingElements {
    position: relative;
  }
}
