@import "../common/_vars";
@import "../common/_mixins";


.Header {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-template-areas: "decor-left logo social nav decor-right";
    grid-template-columns: #{$accentThickness} 1fr min-content min-content #{$accentThickness};
    position: fixed;
    bottom: 0;
    z-index: 100;
    background-color: var(--ui-yellow);
    
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100vw;
    height: $mobileNavigationHeight;
    
    @include narrowScreen() {
        grid-template-areas: "decor-left nav social decor-right";
        grid-template-columns: #{$accentThickness} 1fr min-content #{$accentThickness};
        
        .Logo {
            display: none;
        }
    }

    @include wideScreen() {
        display: none;
    }
    
    &::-webkit-scrollbar {
        display: none;
    }

    &-decor {
        @mixin decor-common {
            width: #{$accentThickness};
            height: 100%;
            background: var(--ui-blue);
        }
        &-right {
            @include decor-common();
            grid-area: decor-right;
        }
        &-left {
            @include decor-common();
            grid-area: decor-left;
        }
    }

    @include wideScreen() {
        background-color: transparent;
        width: 350px;        

        &-mobileControls {
            display: none;
        }
    }

}