@import "../common/_vars";
@import "../common/_mixins";


.Nav {
    grid-area: nav;
    display: flex;

    &-decor {
        width: #{$accentThickness/2};
        // height: 100%;
        background-color:  #{map-get($colorMap, ui-yellow)};
    }

    &-list {
        .Nav-list-item {
            // font-family: $titleFont;
            font-family: $textFont;
            // font-weight: 600;
            text-decoration: none;
            color: #{map-get($colorMap, text-dark)};
            text-align: right;
            position: relative;
            white-space: nowrap;
        }
    }

    &-burgerButton {
        background-color:  #{map-get($colorMap, ui-white)};
        color: #{map-get($colorMap, text-dark)};
        border: none;
        padding: 0;
        margin: 0;
        height: #{$accentThickness + $socialIconMinSize_px};
        cursor: pointer;
        
        &:focus {
            border: none;
            outline: none;
        }
        
        & > img {
            @include headerIcon();
            filter: var(--filter-darkGray);
        }

        @include narrowScreen() {
            display: none;
        }
    }

    .Header & {
        justify-self: start;

        @include narrowScreen() {
            margin-left: #{$accentThickness / 2};
            margin-right: #{$accentThickness / 2};
        }

        &-decor {
            display: none;
        }

        &-wrap {
            display: grid;
            align-items: center;
            justify-items: end;
        }

        &-list {
            position: fixed;
            bottom: #{$mobileNavigationHeight - 1px};
            left: 0;
            right: 0;
            flex-direction: column;
            background-color:  #{map-get($colorMap, ui-white)};
            display: flex;

            @include narrowScreen() {
                flex-direction: row;
                position: relative;
                bottom: auto;
            }

            .Nav-list-item {
                padding: #{$accentThickness / 2} #{$accentThickness};
                position: relative;

                @include narrowScreen() {
                    $font-size: map-get($fontSizes, mobileNavigation); 
                    $header-height: map-get($mobile, navigationY);
                    $vertical-padding: ($header-height - $font-size) /2;

                    padding: #{$vertical-padding} #{$accentThickness / 2};
                    font-size: $font-size;
                    line-height: $font-size;
                }
    
                &-active {
                    color: #{map-get($colorMap, ui-decoration)};
    
                    &:after {
                        position: absolute;
                        content: "";
                        top: 0;
                        bottom: 0;
                        right: 0;
                        width: #{$accentThickness / 2};
                        background-color:  #{map-get($colorMap, ui-decoration)};

                        @include narrowScreen() {
                            width: auto;
                            height: #{$accentThickness / 4};
                            top: auto;
                            right: #{$accentThickness /2};
                            left: #{$accentThickness /2};
                        }
                    }
                }
                
            }
        }

        &-listContainer {
            display: none;
            
            @include narrowScreen() {
                display: block;
                
            }
            
            &.open {
                display: block;
                position: fixed;
                top: 0;
                left:0;
                right:0;
                bottom: 0;
                @include narrowScreen() {
                    position: relative;
                }
            }
            
            & > .Nav-mask {                
                position: fixed;
                background: linear-gradient(rgba(255,255,255, 0.6), transparent calc(100vh - #{$mobileNavigationHeight}));
                top:0;
                left:0;
                right:0;
                bottom:0;

                @include narrowScreen() {
                    display: none;
                }
            }
        }


    }

    .App-wideScreenControls & {
        display:none;
        position: fixed;
        right:0;
        top: 50vh;
        transform: translateY(-50%);
        z-index: 100;

        @include wideScreen() {
            display: flex;
        }

        &-listContainer {
            height: 100%;
        }

        &-list {
            display: flex;
            // height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            padding: #{$accentThickness} 0;

            .Nav-list-item {
                color:  #{map-get($colorMap, ui-blue)};
                padding: #{$accentThickness /4} #{$accentThickness /2};
                font-size: adjustSize(20, 26);
            }
        }



        &-burgerButton {
            display: none;
        }
    }
}