@import '../../../styles/abstracts/_mixins';
@import './_wpPosts';

$nav_social-space_x_px: get-component-property('nav', 'social-space_x_px');
$minBlockHeight: get-component-property('home', 'section-height_min_px');
$mobile-height_px: get-component-property('nav', 'mobile-height_px');
$minMobileBlockGroupHeight: #{unquote(
    'max(calc(100vh - #{$GAP_PX*2} - #{$mobile-height_px}), #{$minBlockHeight})'
  )};
$minNarrowBlockGroupHeight: #{unquote(
    'max(calc(100vh - #{$GAP_PX*2}), #{$minBlockHeight})'
  )};
$standardGroupInnerblockPadding: 100px;

.Canvas {
  &.page {
    &.home {
      padding-bottom: 0;
      @include breakpoint('w', 'SVGA__') {
        display: block;
        .Canvas-articleTitle {
          display: none;
        }
      }
      & .Canvas-decor {
        display: none;
      }
      & > article {
        padding: 0;
        & > .wp-block-group {
          box-sizing: border-box;
          padding: #{$GAP_PX};
          min-height: #{$minMobileBlockGroupHeight};
          overflow: hidden;
          position: relative;
          @include breakpoint('w', 'XGAplus__') {
            height: 100vh;
          }
          & > .wp-block-group__inner-container {
            min-height: #{$minMobileBlockGroupHeight};
            height: 100%;
            display: grid;
            box-sizing: border-box;
            padding-bottom: #{get-component-property('nav', 'mobile-height_px')};
            @include breakpoint('w', 'XGAplus__') {
              padding-bottom: 0;
            }
            & > p {
              margin-bottom: 0;
            }
            & > h2 + .wp-block-group {
              grid-area: paragraph;
            }
          }
          &:first-child {
            $logo-n-social_y_px: get-component-property('logo-n-social', y_px);
            $home_welcomeImage_x_vw: get-component-property(
              home,
              'welcome-image_x_vw'
            );

            background-color: transparent;
            padding-top: #{$GAP_PX/2};
            @include breakpoint('h', 'SVGA__') {
              padding-top: #{$GAP_PX};
            }
            & > .wp-block-group__inner-container {
              $figureDent: $logo-n-social_y_px + 4 * $GAP_PX;
              grid-template-areas:
                'logo'
                'cover'
                'h1'
                'paragraph';
              grid-template-rows: #{$logo-n-social_y_px} 1fr min-content min-content;
              grid-row-gap: #{$GAP_PX/2};
              @include breakpoint('h', 'HD__') {
                grid-row-gap: #{$GAP_PX};
              }
              @include breakpoint('w', 'SVGA__') {
                grid-template-areas:
                  '. logo         .'
                  '. h1   .'
                  '. paragraph    .'
                  '. buttons      .';
                grid-template-columns: #{$home_welcomeImage_x_vw} 1fr;
                grid-template-rows: #{$logo-n-social_y_px} 1fr 1fr #{$logo-n-social_y_px};
                grid-row-gap: #{$GAP_PX};
                height: 100%;
              }
              @include breakpoint('w', 'XGAplus__') {
                $navSocialSpaceX: get-component-property(
                  nav,
                  'social-space_x_px'
                );
                grid-template-columns: #{$home_welcomeImage_x_vw} 1fr #{$navSocialSpaceX};
                grid-column-gap: #{responsive-width(
                    0,
                    70,
                    get-breakpoint('w', 'XGAplus__'),
                    1920
                  )};
              }
              .wp-block-cover {
                margin-left: #{-$GAP_PX};
                margin-right: #{-$GAP_PX};
                background-size: cover;
                @include breakpoint('w', 'SVGA__') {
                  position: absolute;
                  margin-left: 0;
                  margin-right: 0;
                  top: #{-$GAP_PX};
                  left: #{-$GAP_PX};
                  right: #{-$GAP_PX};
                  z-index: -1;
                  right: auto;
                  bottom: #{-$GAP_PX};
                  width: $home_welcomeImage_x_vw;
                  height: auto;
                  z-index: 91;
                }
              }
            }
            figure {
              margin: 0;
              grid-area: logo;
              width: 100%;
              height: 100%;
              justify-items: center;
              align-items: center;
              display: grid;
              @include breakpoint('w', 'SVGA__') {
                justify-self: start;
                justify-content: start;
              }
              & > img {
                width: auto;
                min-width: 100px;
                max-width: 100%;
                height: 100%;
                max-height: 50px;
                object-fit: scale-down;
              }
            }
            h1 {
              @include typography-hero();
              margin-left: #{-$GAP_PX/2};
              margin-right: #{-$GAP_PX/2};
              align-self: end;
              justify-self: center;
              color: #{getColor('text-mediumDark')};
              @include breakpoint('w', 'SVGA__') {
                justify-self: start;
                margin-left: 0;
                margin-right: 0;
              }
            }
            .wp-block-buttons {
              display: none;
              grid-area: buttons;
              width: 100%;
              margin-right: #{$GAP_PX/2};
              margin-left: #{-$GAP_PX/2};
              .wp-block-button {
                @include typography-button();
                background-color: #{getColor('ui-yellow')};
                color: #{getColor('text-dark')};
                padding: #{$GAP_PX/2};
                border-radius: #{$GAP_PX/2};
                width: 100%;
                &:hover {
                  background-color: #{getColor('ui-darkBlue')};
                  color: #{getColor('text-light')};
                  cursor: pointer;
                }
              }
              @include breakpoint('w', 'SVGA__') {
                display: block;
              }
            }
          }
          &:not(:first-child) {
            & > .wp-block-group__inner-container {
              @include breakpoint('w', 'SVGA__') {
                align-content: center;
                grid-row-gap: #{$GAP_PX};
                grid-column-gap: #{2 * $GAP_PX};
              }
              @include breakpoint('w', 'XGAplus__') {
                $wideScreenSize: get-breakpoint('w', 'XGAplus__');
                $maxPadding: 350;
                $padding: responsive-width(144, $maxPadding, $wideScreenSize);
                grid-column-gap: #{responsive-width(
                    2 * ($GAP_PX)/1px,
                    100,
                    $wideScreenSize,
                    1920
                  )};
                padding-left: #{$padding};
                padding-right: #{$padding};
              }
            }

            h2 {
              text-align: center;
            }
            .wp-block-cover {
              display: block;
              grid-area: image;
              height: 100%;
              width: 100%;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              position: relative;
              border-radius: #{$GAP_PX/2};
              @mixin frame-common {
                content: '';
                position: absolute;
              }
              $narrow-frame: calc(100% - #{$GAP_PX});
              $wide-frame: calc(100% + #{$GAP_PX});
              $extrude: calc(#{$GAP_PX} / 2 * -1);
              $bevel: calc(#{$GAP_PX} / 2);
              &:before {
                @include frame-common;
                width: $wide-frame;
                height: $narrow-frame;
                top: $bevel;
                left: $extrude;
                border-radius: #{$GAP_PX/2};
              }
              &:after {
                @include frame-common;
                width: $narrow-frame;
                height: $wide-frame;
                top: $extrude;
                left: $bevel;
                border-radius: #{$GAP_PX/2};
              }
            }
          }
          &:nth-child(2) {
            & > .wp-block-group__inner-container {
              grid-template-areas:
                'h2'
                'image'
                'paragraph';
              grid-template-rows: max-content auto min-content;
              grid-row-gap: #{$GAP_PX};
              padding-top: 20px;
              @include breakpoint('h', 'HD__') {
                grid-row-gap: #{2 * $GAP_PX};
              }
              @include breakpoint('w', 'SVGA__') {
                grid-template-areas:
                  'h2 image'
                  'paragraph image';
                padding-top: #{$standardGroupInnerblockPadding};
                padding-bottom: #{$standardGroupInnerblockPadding};
                grid-template-columns: 2fr 1fr;
                grid-template-rows: max-content 200px;
              }
              @include breakpoint('w', 'XGAplus__') {
                grid-row-gap: 5vw;
              }
              h2 {
                position: relative;
                width: max-content;
                justify-self: center;
                @include breakpoint('w', 'SVGA__') {
                  justify-self: start;
                  text-align: left;
                }
              }
            }
          }
          &:nth-child(3) {
            & > .wp-block-group__inner-container {
              grid-template-areas:
                'h2'
                'image'
                'paragraph'
                'restart';
              grid-template-rows: max-content auto min-content min-content;
              grid-row-gap: #{$GAP_PX};
              @include breakpoint('h', 'HD__') {
                grid-row-gap: #{1.5 * $GAP_PX};
              }
              @include breakpoint('w', 'SVGA__') {
                grid-template-areas:
                  'image h2'
                  'image paragraph'
                  'image restart';
                padding-top: #{$standardGroupInnerblockPadding};
                padding-bottom: #{$standardGroupInnerblockPadding};
                grid-template-columns: 1fr 2fr;
                grid-template-rows: max-content 200px;
              }
              & > h2 {
                @include breakpoint('w', 'SVGA__') {
                  align-self: end;
                  text-align: left;
                }
              }
            }
            &:after {
              $width: 100vw;
              $height: calc(100vw / 4);
              @include svg-art(
                'city.svg',
                $width,
                $height,
                get-component-property('nav', 'mobile-height_px'),
                #{$standardGroupInnerblockPadding}
              );
            }
          }
          &:nth-child(4) {
            > .wp-block-group__inner-container {
              @include wpPosts(posts, row);
              grid-template-areas:
                'h2'
                'posts'
                'paragraph';
              grid-template-rows: #{get-typography(h2, lineHeight)} auto max-content;
              grid-row-gap: #{$GAP_PX/2};
              @include breakpoint('h', 'HD__') {
                grid-row-gap: #{$GAP_PX};
              }
              @include breakpoint('w', 'SVGA__') {
                $narrowScreenSpacing: 100px;
                grid-template-areas:
                  'h2 .    '
                  'h2 posts'
                  'paragraph  posts'
                  'paragraph  .    ';
                grid-template-rows: #{$narrowScreenSpacing} 1fr 1fr #{$narrowScreenSpacing};
                grid-template-columns: 1fr 1fr;
                justify-content: center;
              }
              h2 {
                @include breakpoint('w', 'SVGA__') {
                  align-self: end;
                  text-align: left;
                }
              }
              & > .wp-block-latest-posts {
                margin-left: #{-$GAP_PX} !important;
                width: 100vw;
                @include breakpoint('w', 'SVGA__') {
                  width: 100%;
                  max-width: 100%;
                  min-width: 100%;
                  overflow: hidden;
                  margin: 0 !important;
                }
              }
            }
            &:after {
              $width: 100vw;
              $height: calc(100vw / 5);
              @include svg-art(
                'conversation.svg',
                $width,
                $height,
                get-component-property('nav', 'mobile-height_px'),
                130px
              );
            }
          }
          &:nth-child(5) {
            & > .wp-block-group__inner-container {
              @include wpPosts(success, column, getColor('bg-gray'));
              grid-template-areas:
                'h2'
                'posts';
              grid-row-gap: #{$GAP_PX/2};
              grid-template-rows: #{get-typography(h2, lineHeight)} 1fr;
              align-content: stretch;
              @include breakpoint('h', 'HD__') {
                grid-row-gap: #{$GAP_PX};
              }
              @include breakpoint('w', 'SVGA__') {
                $logo-n-social_y: get-component-property('logo-n-social', y_px);
                grid-template-rows: #{$logo-n-social_y} 1fr #{$standardGroupInnerblockPadding};
              }
              h2 {
                align-self: center;
              }
              & > .wp-block-latest-posts {
                margin-left: #{-$GAP_PX} !important;
                width: 100vw;
                @include breakpoint('w', 'SVGA__') {
                  width: 100%;
                  max-width: 100%;
                  min-width: 100%;
                  overflow: hidden;
                  margin: 0 !important;
                }
              }
            }
            &:after {
              $cityWidth: 100vw;
              $height: calc(100vw / 4);
              @include svg-art(
                'success.svg',
                $cityWidth,
                $height,
                get-component-property('nav', 'mobile-height_px'),
                130px
              );
            }
          }
          &:nth-child(6) {
            & > .wp-block-group__inner-container {
              grid-template-rows: min-content min-content min-content;
              grid-template-areas:
                'h2'
                'feature'
                'paragraph';
              grid-row-gap: #{$GAP_PX};

              @include breakpoint('h', 'HD__') {
                grid-row-gap: #{$GAP_PX};
              }
              @include breakpoint('w', 'SVGA__') {
                $logo-n-social_y: get-component-property('logo-n-social', y_px);
                grid-template-rows: #{$logo-n-social_y} 1fr;
              }
              & > h2 {
                align-self: center;
              }
              & > p {
                display: none;
                margin: 0;
              }
            }
            & .wpcf7 {
              grid-area: feature;
              display: grid;
              grid-template-areas:
                '.'
                'wpcf7-form'
                'screen-reader-response';
              grid-template-rows: 1fr min-content 1fr;
              & .screen-reader-response {
                grid-area: screen-reader-response;
              }
              & .wpcf7-form {
                grid-area: wpcf7-form;
                & .ContactForm {
                  &-userInput {
                    display: grid;
                    grid-template-areas:
                      'contactform_left'
                      'contactform_right'
                      'contactform_submit';
                    @include breakpoint('w', 'SVGA__') {
                      grid-template-areas:
                        'contactform_left contactform_right'
                        'contactform_submit contactform_submit';
                      grid-template-columns: 1fr 1fr;
                      grid-column-gap: #{2 * $GAP_PX};
                      grid-row-gap: #{$GAP_PX};
                    }
                    & br {
                      display: none;
                    }
                    &-submit {
                      grid-area: contactform_submit;
                      & .wpcf7-submit {
                        @include typography-button();
                        width: 100%;
                        padding: #{$GAP_PX / 2};
                        border: none;
                        background-color: #{getColor('ui-yellow')};
                        color: #{getColor('text-dark')};
                        border-radius: #{$GAP_PX/2};
                        &:hover {
                          background-color: #{getColor('ui-darkBlue')};
                          color: #{getColor('text-light')};
                          cursor: pointer;
                        }
                      }
                    }
                    &-left {
                      grid-area: contactform_left;
                    }
                    &-right {
                      grid-area: contactform_right;
                      & > p:nth-child(2) {
                        margin-bottom: 0;
                      }
                      & > p:nth-child(3) {
                        height: 100%;
                        margin-bottom: 0;
                        label {
                          height: 100%;
                        }
                      }
                    }
                    &-left,
                    &-right {
                      & label {
                        @include p();
                        color: #{getColor('text-dark')};
                        display: block;
                        margin-bottom: #{$GAP_PX / 2};
                        input,
                        textarea {
                          margin-top: #{$GAP_PX / 4};
                        }
                      }
                      & .wpcf7-text,
                      & .wpcf7-textarea {
                        box-sizing: border-box;
                        border: none;
                        background-color: #{getColor('bg-white')};
                        width: 100%;
                        padding: #{$GAP_PX / 2};
                        font-family: #{get-font-property('text', 'font-family')};
                        font-weight: #{get-font-property('text', 'font-weight')};
                        border-radius: #{$GAP_PX/2};
                        &:focus {
                          outline: none;
                          background-color: #{getColor('bg-yellow')};
                        }
                      }
                      & .wpcf7-textarea {
                        resize: none;
                        height: 150px;
                      }
                    }
                  }
                }
              }
            }
          }
          &:last-child {
            & > .wp-block-group__inner-container {
              padding-bottom: calc(#{$standardGroupInnerblockPadding} + 15vh);
              @include breakpoint('w', 'SVGA__') {
                padding-bottom: #{$standardGroupInnerblockPadding};
              }
            }
          }
        }
      }
    }
  }
}
