@import '../../../styles/abstracts/_mixins';

.Social {
  $logo-n-social_y: get-component-property('logo-n-social', y_px);
  align-items: center;
  grid-column-gap: calc(var(--gap) / 2);

  &-decor {
    width: #{get-gap(2)};
    height: #{$logo-n-social_y};
    background: #{getColor('ui-blue')};
    right: 0;
    border-top-left-radius: #{get-gap(2)};
    border-bottom-left-radius: #{get-gap(2)};
  }

  .App-wideScreenControls & {
    display: none;
    position: fixed;
    right: 0;
    top: #{get-gap(2)};
    z-index: 100;

    @include breakpoint('w', 'XGAplus__') {
      display: flex;
    }
  }
}
