@import '../../../styles/abstracts/_mixins';

$logo-n-social--y-px: get-component-property('logo-n-social', 'y-px');

.Social {
  align-items: center;
  grid-column-gap: #{get-gap(1/2)};

  &-decor {
    width: #{get-gap(2)};
    height: #{$logo-n-social--y-px};
    background: #{get-color('ui-blue')};
    right: 0;
    border-top-left-radius: #{get-gap(2)};
    border-bottom-left-radius: #{get-gap(2)};
  }

  .App-wideScreenControls & {
    display: none;
    position: fixed;
    right: 0;
    top: #{get-gap(2)};
    z-index: 100;

    @include breakpoint('w', 'XGAplus--') {
      display: flex;
    }
  }
}
