@import '../../../styles/abstracts/_mixins';

.App {
  $nav--mobile-height-px: get-component-property('nav', 'mobile-height-px');

  &-scrollWindow {
    margin-bottom: #{$nav--mobile-height-px};
    height: calc(100vh - #{$nav--mobile-height-px});
    overflow-x: hidden;
    overflow-y: auto;

    @include breakpoint('w', 'XGAplus--') {
      margin-bottom: 0;
      height: 100vh;
    }
  }

  &-scrollingElements {
    position: relative;
  }
}
