@import '../../common/styles/_vars';
@import '../../common/styles/_mixins';

.BurgerMenu {
  grid-area: nav;
  display: flex;

  &-burgerButton {
    background-color: #{getColor(ui-white)};
    color: #{getColor(text-dark)};
    border: none;
    padding: 0;
    margin: 0;
    height: #{$GAP + getComponentProperty(socialItem, defaultSize__)};
    cursor: pointer;

    &:focus {
      border: none;
      outline: none;
    }

    & > img {
      @include headerIcon();
      filter: var(--filter-darkGray);
    }
  }

  @include viewport(w, SVGA) {
    display: none;
  }
}
