@import '../../common/styles/_vars';
@import '../../common/styles/_mixins';

.Cta {
  grid-area: logo;
  height: 45px;
  display: flex;
  align-items: center;

  &-button {
    display: flex;
    align-items: center;
    margin-left: #{$GAP / 4};
    border-radius: #{$GAP / 4};
    padding: #{$GAP / 4} #{$GAP / 2};
    background-color: #{getColor(ui-yellow)};

    max-width: 200px;
  }
  &-text {
    @include buttonText();
    font-size: smaller;
    white-space: nowrap;
  }
}
