@import '../../common/styles/_vars';
@import '../../common/styles/_mixins';

.Logo {
  $logoNSocialY: map-get($narrow, logoNSocialY);
  grid-area: logo;

  &-decor {
    width: var(--accent-thickness);
    height: $logoNSocialY;
    background: #{map-get($colorMap, ui-blue)};
    left: 0;
    border-top-right-radius: #{$gap};
    border-bottom-right-radius: #{$gap};
  }

  &-logo > img {
    max-width: 140px;
    min-width: 70px;
  }

  header & {
    .Logo {
      &-logo > img {
        margin-left: #{$gap / 2};
        margin-top: 8px;
      }

      &-decor {
        display: none;
      }
    }
  }

  .App-wideScreenControls & {
    display: none;

    z-index: 90;
    position: fixed;
    top: #{$gap};
    left: 0;
    flex-direction: row;
    align-items: center;

    @include narrowScreen() {
      display: flex;
      img {
        $featureImageX: #{map-get($narrow, featureImageX)};
        $paddingLeft: #{$gap / 2};
        $statics: #{$paddingLeft} - #{2 * $gap};
        $width: calc(#{$featureImageX} - #{$statics});
        $marginTop: calc(#{$width} / 25);

        max-width: 350px;
        min-width: 170px;
        max-height: 50px;
        width: $width;
        margin-top: $marginTop;
        padding-left: $paddingLeft;
      }
    }
  }
}
