@import '../../common/styles/_vars';
@import '../../common/styles/_mixins';

.Logo {
  $logoNSocialY: getComponentProperty(logoNSocial, y_px);
  grid-area: logo;

  &-decor {
    width: var(--accent-thickness);
    height: $logoNSocialY;
    background: #{getColor(ui-blue)};
    left: 0;
    border-top-right-radius: #{$GAP};
    border-bottom-right-radius: #{$GAP};
  }

  &-logo > img {
    max-width: 140px;
    min-width: 70px;
  }

  header & {
    .Logo {
      &-logo > img {
        margin-left: #{$GAP / 2};
        margin-top: 8px;
      }

      &-decor {
        display: none;
      }
    }
  }

  .App-wideScreenControls & {
    display: none;

    z-index: 90;
    position: fixed;
    top: #{$GAP};
    left: 0;
    flex-direction: row;
    align-items: center;

    @include viewport(w, SVGA) {
      display: flex;
      img {
        $featureImageX: #{getComponentProperty(featureImage, narrow_x_vw)};
        $paddingLeft: #{$GAP / 2};
        $statics: #{$paddingLeft} - #{2 * $GAP};
        $width: calc(#{$featureImageX} - #{$statics});
        $marginTop: calc(#{$width} / 25);

        max-width: 350px;
        min-width: 170px;
        max-height: 50px;
        width: $width;
        margin-top: $marginTop;
        padding-left: $paddingLeft;
      }
    }
  }
}
