@import '../../../styles/abstracts/_mixins';

.Canvas {
  &.Credits {
    button {
      margin-bottom: 15px;
      border: none;
      border-radius: 15px;
      background-color: #dddddd;
      width: 100%;
      height: 70px;
      overflow: hidden;

      .button-title {
        margin-bottom: 10px;
        line-height: 0px;
        color: #{get-color('text-dark')};
        font-size: 20px;
      }

      .button-value {
        line-height: 35px;
        color: #{get-color('text-dark')};
        font-size: 10px;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
