@import '../../../styles/abstracts/_mixins';

.Header {
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 0;
  left: 0;
  height: #{get-component-property('nav', 'mobile-height_px')};
  pointer-events: none;

  &-bottomWrap {
    position: absolute;
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-template-areas: 'logo social nav';
    grid-template-columns: 1fr min-content min-content;
    background-color: #{get-color('ui-white')};
    bottom: 0;
    overflow-x: visible;
    overflow-y: hidden;
    width: 100vw;
    height: #{get-component-property('nav', 'mobile-height_px')};
    pointer-events: initial;

    & .Social-list {
      display: none;
      flex-direction: row;
      grid-area: social;
      justify-items: right;
      padding-left: 0;
      height: #{get-gap(2) +
        get-component-property('social-item', 'default-size__')};
      overflow: hidden;

      @include breakpoint('w', 'QVGA__') {
        display: flex;
      }
    }

    @include breakpoint('w', 'SVGA__') {
      grid-template-areas: 'nav social';
      grid-template-columns: 1fr min-content;
      .Logo {
        display: none;
      }
    }

    @include breakpoint('w', 'XGAplus__') {
      background-color: transparent;
      width: 350px;
      &-mobileControls {
        display: none;
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  @include breakpoint('w', 'XGAplus__') {
    display: none;
  }
}
