@import "../common/_vars";
@import "../common/_mixins";

.App {
    overflow: hidden;

    // &-wideScreenControls {
    //     display: none;
    // }

    &-scrollingElements {
        // min-height: calc(100vh - #{$mobileNavigationHeight});
        position: relative;
        margin-bottom: #{$mobileNavigationHeight};
        
        @include wideScreen() {
            // min-height: calc(100vh + #{$footerSquareSize});
            // min-height: calc(100vh + 220px);
            margin-bottom: 0;
        }
    }

    // @include wideScreen() {
    //     &-wideScreenControls {
    //         display: block;
    //     }
    // }
}