@import '../../../styles/abstracts/_mixins';

nav {
  display: flex;
}

.Nav-item {
  display: block;
  font-family: #{get-font-property('text', 'font-family')};
  font-weight: #{get-font-property('text', 'font-weight')};
  text-decoration: none;
  white-space: nowrap;
}

.NavHeaderView {
  display: none;
  grid-area: nav;
  height: 100%;

  @include breakpoint('w', 'SVGA__') {
    display: block;
  }

  @include breakpoint('w', 'XGAplus__') {
    display: none;
  }

  & nav {
    height: 100%;
  }

  & .Nav-item {
    padding: {
      left: #{get-gap(2/3)};
      right: #{get-gap(2/3)};
    }
    height: 100%;
    line-height: #{get-component-property('nav', 'mobile-height_px')};
    position: relative;
    color: #{getColor('text-dark')};
    text-align: right;

    &-active {
      color: #{getColor('ui-decoration')};

      &:after {
        position: absolute;
        content: '';
        bottom: 0;
        height: #{get-gap(1/2)};
        left: #{get-gap(1/2)};
        right: #{get-gap(1/2)};
        background-color: #{getColor('ui-decoration')};
        border-top-left-radius: #{get-gap(1/2)};
        border-top-right-radius: #{get-gap(1/2)};
      }
    }
  }
}
