@import '../../../styles/abstracts/_mixins';

$nav--mobile-height-px: get-component-property('nav', 'mobile-height-px');

nav {
  display: flex;
}

.Nav-item {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  font-family: #{get-font-property('text', 'font-family')};
  font-weight: #{get-font-property('text', 'font-weight')};
}

.NavHeaderView {
  display: none;
  grid-area: nav;
  height: 100%;

  @include breakpoint('w', 'SVGA--') {
    display: block;
  }

  @include breakpoint('w', 'XGAplus--') {
    display: none;
  }

  & nav {
    height: 100%;
  }

  & .Nav-item {
    padding: {
      left: #{get-gap(2/3)};
      right: #{get-gap(2/3)};
    }
    position: relative;
    height: 100%;
    text-align: right;
    line-height: #{$nav--mobile-height-px};
    color: #{get-color('text-dark')};

    &-active {
      color: #{get-color('ui-decoration')};

      &:after {
        position: absolute;
        right: #{get-gap(1/2)};
        bottom: 0;
        left: #{get-gap(1/2)};
        border-top-left-radius: #{get-gap(1/2)};
        border-top-right-radius: #{get-gap(1/2)};
        background-color: #{get-color('ui-decoration')};
        height: #{get-gap(1/2)};
        content: '';
      }
    }
  }
}
