@import '../../../styles/abstracts/_mixins';

$nav--mobile-height-px: get-component-property('nav', 'mobile-height-px');

nav {
  display: flex;
}

.Nav-item {
  margin: 0;
  display: block;
  font-family: #{get-font-property('text', 'font-family')};
  font-weight: #{get-font-property('text', 'font-weight')};
  text-decoration: none;
  white-space: nowrap;
}

.NavFixedView {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @include breakpoint('w', 'SVGA--') {
    display: none;
  }

  @include breakpoint('w', 'XGAplus--') {
    display: block;
    right: 0;
    width: auto;
    left: auto;
    top: 50vh;
    height: min-content;
    transform: translateY(-50%);
    z-index: 100;
  }

  &.open {
    display: block;

    @include breakpoint('w', 'SVGA--') {
      display: none;
    }

    @include breakpoint('w', 'XGAplus--') {
      display: block;
    }
  }

  & .Social-list {
    position: absolute;
    left: 0;
    bottom: #{$nav--mobile-height-px};
    flex-direction: column;

    @include breakpoint('w', 'QVGA--') {
      display: none;
    }
  }

  &-list {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #{get-color('bg-white')};

    @include breakpoint('w', 'XGAplus--') {
      position: relative;
      margin-right: #{get-gap(2)};
      background-color: transparent;
    }

    &-scrollable {
      max-height: calc(100vh - #{$nav--mobile-height-px});
      margin-bottom: #{$nav--mobile-height-px};

      @include breakpoint('w', 'XGAplus--') {
        margin-bottom: 0;
      }

      & nav {
        flex-direction: column;
        align-items: flex-end;

        @include breakpoint('w', 'XGAplus--') {
          justify-content: center;
          padding: #{get-gap(2)} 0;
          margin-bottom: 0;
        }

        & .Nav-item {
          display: block;
          padding: #{get-gap()} #{get-gap(2)};
          position: relative;
          color: #{get-color('text-dark')};
          text-align: right;

          @include breakpoint('w', 'XGAplus--') {
            color: #{get-color('ui-blue')};
            padding: #{get-gap(1/2)} #{get-gap()};
            font-size: #{get-typography-responsive-font-size('p')};
          }

          &-active {
            color: #{get-color('ui-decoration')};

            &:after {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              border-top-left-radius: #{get-gap()};
              border-bottom-left-radius: #{get-gap()};
              background-color: #{get-color('ui-decoration')};
              width: #{get-gap()};
              content: '';

              @include breakpoint('w', 'SVGA--') {
                top: auto;
                right: #{get-gap()};
                left: #{get-gap()};
                width: auto;
                height: #{get-gap(1/2)};
              }

              @include breakpoint('w', 'XGAplus--') {
                top: 0;
                right: 0;
                bottom: 0;
                left: auto;
                border-top-left-radius: #{get-gap(1/2)};
                border-bottom-left-radius: #{get-gap(1/2)};
                width: #{get-gap(1/2)};
                height: auto;
              }
            }
          }
        }
      }
    }
  }

  &-decor {
    display: none;

    @include breakpoint('w', 'XGAplus--') {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      border-top-left-radius: #{get-gap(2)};
      border-bottom-left-radius: #{get-gap(2)};
      background-color: #{get-color('ui-yellow')};
      width: #{get-gap(2)};
    }
  }

  &-mask {
    position: fixed;
    background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      transparent
        calc(100vh - #{get-component-property('nav', 'mobile-height-px')})
    );
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @include breakpoint('w', 'SVGA--') {
      display: none;
    }
  }
}
