@import "../common/_vars";
@import "../common/_mixins";


.PostList {
    &-card {
        display: grid;
        grid-template-areas: 
            "image"
            "Heading-h3"
            "date"
            "excerpt";
        grid-row-gap: #{$accentThickness};
        text-decoration: none;
        color: var(--blue);

        &-thumbnail {
            overflow: hidden;
            & > img {
                width: calc(100vw - (2 * var(--accent-thickness)));
                height: auto;
            }
        }
    }
}