@import "../common/_vars";
@import "../common/_mixins";

nav {
    flex-direction: column;
    display: flex;

    @include narrowScreen() {
        display: none;
    }

    @include wideScreen() {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: #{$accentThickness} 0;
        // background-color: transparent;
    }
}