:root {
  --gap: #{get-gap()};
  --text-font: 'Work Sans', sans-serif;
  --text-font-weight: 400;
  --title-font: 'Montserrat', sans-serif;
  --title-font-weight: 600;
}

body {
  margin: 0;
  background: #{getColor('bg-white')};
  overflow-x: hidden;
  overflow-y: hidden;
  color: #{getColor('text-mediumDark')};
  font-size: #{get-font-size(default__) * 1px};
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

// creates headings
@for $i from 1 through 6 {
  $tag: 'h' + $i;
  #{$tag} {
    @include _heading($tag);
  }
}

span,
nav {
  color: #{getColor('bg-blue')};
  font-family: #{get-font-property('text', 'font-family')};
  font-weight: #{get-font-property('text', 'font-weight')};
}

figcaption {
  @include p-basic();
  margin: 0;
}

p {
  @include p();
}

cite,
li {
  @include p-basic();
}
