///
/// Fonts
/// Fonts list is very bloated right now as we are expecting the client to make
/// a decision on which fonts to use
///

// Externals
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Quicksand&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;1,400;1,500&display=swap');

// Locals
@font-face {
  font-family: 'KendiniziYenidenKesfedin';
  src: url('../../static/fonts/kendinizi-yeniden-kesfedin.ttf')
    format('truetype');
  font-display: block;
}
