///
/// Fonts
/// Fonts list is very bloated right now as we are expecting the client to make
/// a decision on which fonts to use
///

// Externals
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Baloo+Tammudu+2&family=Istok+Web&family=Kumbh+Sans:wght@300&family=Manrope&family=Nunito:wght@300&family=Quicksand&family=Ubuntu:wght@300&display=swap');

// Locals
@font-face {
  font-family: 'KendiniYenidenKesfet';
  src: url('../../static/fonts/KendiniYenidenKesfet.ttf') format('truetype');
}

@font-face {
  font-family: 'DreamerySansDemo';
  src: url('../../static/fonts/212 Dreamery Sans Demo.ttf') format('truetype');
}

@font-face {
  font-family: 'BabyGirl';
  src: url('../../static/fonts/212 Baby Girl.otf') format('otf');
}

@font-face {
  font-family: 'LeahleeSans';
  src: url('../../static/fonts/212 Leahlee Sans.ttf') format('truetype');
}

@font-face {
  font-family: 'OrionSans';
  src: url('../../static/fonts/212 Orion Sans PERSONAL USE.ttf')
    format('truetype');
}

@font-face {
  font-family: 'AlwaysForeverBold';
  src: url('../../static/fonts/Always Forever Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'AlwaysForever';
  src: url('../../static/fonts/Always Forever.ttf') format('truetype');
}

@font-face {
  font-family: 'CaviarDreams_Bold';
  src: url('../../static/fonts/CaviarDreams_Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'CaviarDreams_BoldItalic';
  src: url('../../static/fonts/CaviarDreams_BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'CaviarDreams_Italic';
  src: url('../../static/fonts/CaviarDreams_Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'CaviarDreams';
  src: url('../../static/fonts/CaviarDreams.ttf') format('truetype');
}

@font-face {
  font-family: 'MoonbrightDemo';
  src: url('../../static/fonts/Moonbright Demo.ttf') format('truetype');
}

@font-face {
  font-family: 'MoonbrightInlineDemo';
  src: url('../../static/fonts/Moonbright Inline Demo.ttf') format('truetype');
}

@font-face {
  font-family: 'whateverittakesbold';
  src: url('../../static/fonts/whatever it takes bold.ttf') format('truetype');
}

@font-face {
  font-family: 'whateverittakes';
  src: url('../../static/fonts/whatever it takes.ttf') format('truetype');
}
