@import 'abstracts/_mixins';

.text {
  &-light {
    color: #{getColor('text-light')};
  }
  &-mediumLight {
    color: #{getColor('text-mediumDark')};
  }
  &-mediumDark {
    color: #{getColor('text-mediumDark')};
  }
  &-dark {
    color: #{getColor('text-dark')};
  }
}
