@import 'abstracts/_mixins';

/// Classes for use with the wp custom class field
/// @access public
/// @group utils
.text {
  &-light {
    color: #{get-color('text-light')};
  }

  &-mediumLight {
    color: #{get-color('text-mediumDark')};
  }

  &-mediumDark {
    color: #{get-color('text-mediumDark')};
  }

  &-dark {
    color: #{get-color('text-dark')};
  }
}
