@import "../../common/_vars";
@import "../../common/_mixins";

.App {
    // overflow: hidden;
    // height: 100vh;

    // &-wideScreenControls {
    //     display: none;
    // }

    &-scrollWindow {
        // position: relative;
        height: calc(100vh - #{$mobileNavigationHeight});
        overflow-y: auto;
        overflow-x: hidden;
        margin-bottom: #{$mobileNavigationHeight};
        
        @include wideScreen() {
            height: 100vh;
            // min-height: calc(100vh + #{$footerSquareSize});
            // min-height: calc(100vh + 220px);
            margin-bottom: 0;
        }
    }

    &-scrollingElements {
        position: relative;
    }

    // @include wideScreen() {
    //     &-wideScreenControls {
    //         display: block;
    //     }
    // }
}