@import "../../common/_vars";
@import "../../common/_mixins";

.os-scrollbar {
    z-index: 150;
    padding: 0 !important;
    width: #{$accentThickness/4} !important;

    @include narrowScreen() {
        width: #{$accentThickness/2} !important;
    }
    
    & .os-scrollbar-handle {
        background-color: #{map-get($colorMap, ui-gray)} !important;
        border-radius: 0 !important;
        border-top-left-radius: #{$accentThickness/4} !important;
        border-bottom-left-radius: #{$accentThickness/4} !important;

        @include narrowScreen() {
            border-top-left-radius: #{$accentThickness/2} !important;
            border-bottom-left-radius: #{$accentThickness/2} !important;
        }
    }
}