@import "../../common/styles/_vars";
@import "../../common/styles/_mixins";

.PostList {
  grid-area: PostList;

  &-wrapper {
    grid-area: PostList-wrapper;

    & > h4 {
      // padding: #{$gap};
      text-align: center;

      @include narrowScreen() {
        text-align: left;
      }
    }
  }

  li {
    list-style: none;
    margin-bottom: #{2 * $gap};
    padding: #{$gap};
    border-radius: #{$gap};
    // padding: #{$gap};

    // article & { // correction for blog page
    //     padding: 0;
    // }
    &:hover {
      background-color: #{map-get($colorMap, bg-gray)};
    }
  }

  ol {
    margin: 0;
    padding: 0;
  }

  @include narrowScreen() {
    margin-left: #{-$gap};
  }
}
