@import "../../common/styles/_vars";
@import "../../common/styles/_mixins";

.Posts {
  $CARD_HEIGHT: 250px;
  &-card {
    display: grid;
    grid-template-areas:
      "image"
      "Heading-h4"
      "date"
      "excerpt";
    grid-row-gap: #{$gap/2};
    text-decoration: none;

    @include narrowScreen() {
      grid-template-areas:
        "image Heading-h4"
        "image date"
        "image excerpt";
      grid-template-rows: min-content min-content auto;
      grid-template-columns: 10vw auto;
      grid-row-gap: #{$gap / 2};
      grid-column-gap: #{$gap};
      height: #{$CARD_HEIGHT};
      overflow: hidden;
    }

    &-date {
      grid-area: date;
      color: #{map-get($colorMap, text-mediumLight)};
    }

    &-excerpt {
      grid-area: excerpt;
      overflow: hidden;
      position: relative;
      @include narrowScreen() {
        &::after {
          content: "";
          position: absolute;
          background: linear-gradient(
            180deg,
            transparent 0,
            #{map-get($colorMap, bg-white)} #{$gap}
          );
          right: 0;
          bottom: 0;
          left: 0;
          height: #{$gap};
        }
      }
      & > p {
        margin: 0;
      }
    }

    &-thumbnail {
      grid-area: image;
      border-radius: #{$gap/2};
      display: grid;
      justify-content: center;
      overflow: hidden;
      @include narrowScreen() {
        height: #{$CARD_HEIGHT};
        width: 10vw;
      }
      & > img {
        width: calc(100vw - (2 * var(--accent-thickness)));
        height: auto;

        @include narrowScreen() {
          width: auto;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
