@import '../../common/styles/_vars';
@import '../../common/styles/_mixins';

.Posts {
  grid-area: Posts;
  &-wrapper {
    grid-area: Posts-wrapper;
    & > h4 {
      text-align: center;
      @include viewport(w, SVGA) {
        text-align: left;
      }
    }
  }
  li {
    list-style: none;
    margin-bottom: #{2 * $GAP};
    padding: #{$GAP};
    border-radius: #{$GAP};
    position: relative;
    &:hover {
      background-color: #{getColor(bg-gray)};
      & .Posts {
        &-card {
          &-excerpt {
            @include viewport(w, SVGA) {
              &::after {
                background: linear-gradient(
                  180deg,
                  transparent 0,
                  #{getColor(bg-gray)} #{$GAP}
                );
              }
            }
          }
        }
      }
    }
  }
  ol {
    margin: 0;
    padding: 0;
  }
  @include viewport(w, SVGA) {
    margin-left: #{-$GAP};
  }
}
